.Menu {
    list-style-type: square;

    &-Container {
        display: flex;
    }

    @include before-desktop {
        border-right: 1px solid var(--light-gray);
        height: 100%;
        width: 35%;

        &-Container {
            flex-direction: column;
            height: 100%;

            .HeaderGenders {
                display: grid;
                grid-auto-flow: column;
                width: 280px;

                .GenderButton {
                    &-Button {
                        width: 100%;
                    }
                }
            }

            .HeaderSearch {
                &-Mobile {
                    height: 60px;
                }
            }
        }
    }

    @include desktop {
        display: flex;
        justify-content: left;

        &-Container {
            .HeaderGenders {
                display: none;
            }

            .HeaderSearch {
                &-Mobile {
                    display: none;
                }
            }
        }

        .MenuCategory {
            &-LastCategoryBackground {
                background-color: var(--red);
                color: transparent;
                margin-left: -90px;
                transform: skew(-15deg, 0deg);
                width: 80px;
            }
        }

        &_isArabic {
            .MenuCategory {
                &-LastCategoryBackground {
                    background-color: var(--red);
                    color: transparent;
                    margin-right: -125px;
                    transform: skew(-15deg, 0deg);
                    width: 105px;
                }
            }
        }
    }
}
