.Price {
    display: flex;
    justify-content: center;
    position: relative;
    font-weight: 600;
    font-size: 16px;

    &-Special,
    &-Discount {
        &_discount {
            display: inline;
            color: $default-primary-dark-color;
        }
        display: none;

    }
    &-Base {
        &_discount {
            font-size: 11px;
            margin-right: 20px;
        }

    }
}