.UrlRewrites {
  margin-inline: auto;
  margin-left: auto;
  margin-right: auto;

  @include tablet {
    width: 100vw;
    padding-top: var(--main-content-padding);
  }
  @include mobile {
    width: 100vw;
    padding-top: 60px;
  }
}
