.UrlRewrites {
  width: var(--main-container-width-dsk);
  max-width: 1440px;
  margin-inline: auto;

  @include tablet {
    width: 100vw;
    padding-top: var(--main-content-padding);
  }
  @include mobile {
    width: 100vw;
    padding-top: 60px;
  }
}
