.eddExpressDelivery {
  display: flex;
  background: #f964461a;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  margin-top: 10px;
  text-transform: initial;
  padding: 7px 0;

  svg {
    width: 24px;
    height: 24px;
    margin: 0 7px;
  }

  .EddExpressDeliveryTextBlock {
    display: flex;
    align-items: center;
    word-wrap: break-word;
    line-height: 0;

    @include mobile {
      font-size: 11px;
    }

    &_isVip_1 {
      .EddExpressDeliveryTextBold {
        &:after {
          content: "";
          background: url(../HeaderAccount/icons/vip.png) no-repeat;
          background-size: 26px;
          width: 27px;
          height: 12px;
          display: flex;
          font-size: 0;
          margin: 0 5px;
          position: absolute;
          top: -10px;
        }

        // &_isArabic {
        //   &:after {
        //     right: 8px;
        //   }
        // }
      }
    }

    .EddExpressDeliveryTextRed {
      color: #f96446;
      font-weight: 600;
      font-style: italic;
      font-size: 13px;
    }

    .EddExpressDeliveryTextNormal {
      font-weight: 400;
      font-size: 12px;
    }

    .EddExpressDeliveryTextBold {
      font-weight: 600;
      margin: 0 5px;
      font-size: 13px;
    }

    .freeVIPText {
      font-weight: 600;
      margin: 0 5px;
      font-size: 13px;
      color: green;
    }
  }
}

.EddExpressDeliveryCutOffTime {
  font-size: 10px;
  font-weight: 400;
  color: #606060;
  margin-top: 2px;
  margin: 0 38px;
  padding-bottom: 7px;
}

.eddStandardDelivery {
  display: flex;
  background: #8686861a;
  padding: 10px 0;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  margin-top: 10px;
  text-transform: initial;

  .EddStandardDeliveryTextBlock {
    display: flex;
    align-items: center;

    @include mobile {
      font-size: 11px;
    }

    svg {
      width: 18px;
      height: 18px;
      margin: 0 8px;
    }

    .EddStandardDeliveryText {
      font-weight: 400;
      font-size: 12px;
    }

    .EddStandardDeliveryTextBold {
      font-weight: 600;
      font-size: 13px;
    }
  }

  .internationalShipmentTag {
    margin: 0;
    margin: 0 35px;
    font-size: 10px;
    color: #606060;

    .AdditionShippingInformationInternationalTag {
      margin: 0;
    }
  }
}
