.eddExpressDelivery {
  display: flex;
  background: #f964461a;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  margin-top: 10px;
  text-transform: initial;
  padding: 4px 0;

  .eddExpressDeliveryBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .freeVIPText {
      font-family: Avenir Next;
      font-size: 13px;
      font-weight: 600;
      color: #28d9aa;
      margin: 0 10px;
    }
  }

  svg {
    width: 24px;
    height: 24px;
    margin: 0 7px;
  }

  .EddExpressDeliveryTextBlock {
    display: flex;
    align-items: center;
    word-wrap: break-word;

    @include desktop {
      line-height: 0;
    }

    .EddExpressDeliveryText {
      display: flex;
      align-items: center;
    }

    .expressVipImage {
      background-size: 26px;
      width: 27px;
      height: 12px;
      display: flex;
      font-size: 0;
      margin: 0 3px;
    }

    .EddExpressDeliveryTextRed {
      color: #f96446;
      font-weight: 600;
      font-style: italic;
      font-size: 13px;
    }

    .EddExpressDeliveryTextNormal {
      font-weight: 400;
      font-size: 13px;
      margin: 0 3px;
    }

    .EddExpressDeliveryTextBold {
      font-weight: 600;
      font-size: 13px;
    }

    .freeVIPText {
      font-weight: 600;
      margin: 0 5px;
      font-size: 13px;
      color: green;
    }
  }
}



.eddStandardDelivery {
  display: flex;
  background: #8686861a;
  padding: 10px 0;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  text-transform: initial;

  .EddStandardDeliveryTextBlock {
    display: flex;
    align-items: center;


    svg {
      width: 18px;
      height: 18px;
      margin: 0 8px;
    }

    .EddStandardDeliveryText {
      font-weight: 400;
      font-size: 13px;
    }

    .EddStandardDeliveryTextBold {
      font-weight: 600;
      font-size: 13px;
    }
  }

  .internationalShipmentTag {
    margin: 0;
    margin: 0 35px;
    font-size: 11px;
    color: #606060;

    .AdditionShippingInformationInternationalTag {
      margin: 0;
    }
  }
}
