.PLP,
.SearchPage {
  padding-top: 15px;
  // padding-top: 60px;
  margin-bottom: 82px;
  .couponDetailPopup {
    z-index: 99999 !important;
    .couponDetialPopupBlock {
      padding: 42px 20px;
      border-radius: 30px 30px 0 0;
      .couponItemCode {
        color: #000000 !important;
        font-size: 16px !important;
      }
      .couponItemName {
        text-align: center;
        margin-bottom: 0px;
        &-SortSelected {
          font-size: 18px;
          font-weight: var(--fw-demi);
        }
      }
      hr {
        border-top: 1px solid #efefef;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &_isArabic {
      .couponDetialPopupBlock {
        .closePopupbtn {
          float: left;
          &:before {
            right: -22px;
          }
        }
      }
    }
  }
  .SortContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    &_isArabic {
      .SortOverlay {
        .CommonBlock {
            left: unset !important;
            right: 16px;
          &:first-child {
            right: 16px !important;
            left: unset !important;
          }
          &:last-child {
            .title {
              right: 8px !important ;
              left: unset !important;
            }
          }
          &_DualFilter {
            right: 11px !important;
            left: unset !important;
          }
          &_TripleFilter {
            right: 7px !important;
            left: unset !important;
          }
          .title{
            left: unset;
            right: 13px !important;
          }
        }
      }
    }
  }
  .SortOverlay {
    background-color: black;
    position: fixed;
    height: 36px;
    min-width: 210px;
    width: 218px;
    max-width: 240px;
    z-index: 9;
    bottom: 92px;
    border-radius: 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    &-CenterLine {
      width: 3px;
      height: 20px;
      img {
        width: 3px !important;
        height: 20px !important;
      }
    }
    &_isFilter {
      min-width: 190px !important;
      .CommonBlock {
        left: 20px;
      }
    }
    &_isArabic {
      &_isFilter {
        .CommonBlock {
          right: 20px;
          left: unset;
        }
      }
    }
    img {
      height: 14px;
      width: 10px;
    }
  }
  .CommonBlock {
    display: flex;
    justify-content: start;
    align-items: center;
    flex: 1;
    left: 16px;

    &-RefineImg {
      height: 10px !important;
      width: 14px !important;
    }
    &:first-child {
      left: 16px;
    }
    &:last-child {
      .title {
        left: 8px !important ;
      }
    }
    &_DualFilter {
      left: 11px !important;
    }
    &_TripleFilter {
      left: 7px !important;
    }
    .title {
      color: #ffffff;
      font-size: 13px;
      font-weight: var(--fw-demi);
      line-height: 16px;
      left: 13px;
    }
  }

  @include mobile {
    padding-top: 0;
  }
  .DynamicContentGrid {
    @include mobile {
      margin: 0;
    }
    &-Grid img {
      object-fit: cover;
    }
  }
  // .DynamicContent > div {
  //   margin-bottom: 30px !important;
  // }
  .DynamicContentBanner {
    box-sizing: border-box;
    margin: 0;
    // padding: 0 8px;
    &:last-of-type {
      padding-bottom: 30px;
      @include desktop() {
        padding-bottom: 0;
      }
    }
  }
  .DynamicContent {
    padding-top: 17px;
    @include mobile {
      margin-top: 0;
      padding-top: 0;
    }
    > div:not(.DynamicContentFullWidthBannerSlider) {
      @include desktop {
        margin: 0 auto;
        width: var(--main-container-width-dsk);
        max-width: var(--container-max-width);
      }
    }
    .DynamicContentGrid {
      @include tablet {
        margin-left: 30px !important;
        margin-right: 30px !important;
      }
    }
  }
  .DynamicContent {
    > div:not(.DynamicContentCircleItemSlider) {
      margin-bottom: 60px !important;
      @include tablet {
        margin-bottom: 40px !important;
      }
      @include mobile {
        margin-bottom: 20px !important;
      }
    }
  }

  .SortBy {
    position: absolute;
    right: 0;
    top: -30px;
    .PLPFilters-ProductsCount {
      display: none;
    }
    .FilterHeader {
      display: none;
    }
    &_isArabic {
      right: unset;
      left: 0;
    }
    .Products {
      &-FixScroll {
        position: static !important; // for resolving 2663.
      }
    }
  }
}

.Products-Wrapper {
  @include desktop() {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 51px;
    padding-top: 17px;
    grid-gap: 52px;
  }
}
.PLP{
  &-FooterWrapper {
    @include mobile {
      display: none;
    }
    background: #f8fafb;
    margin: 40px 0 -82px;
    color: #000;
    overflow: hidden;
    padding-bottom: 40px;
    .loadMore-section{
      position: relative;
      .loadMore-Overlay{
        display: none;
        &.show{
          display: block;
          position: absolute;
          box-shadow:  0 -30px 50px 12px rgba(248, 250, 251, 0.8%);
          top: -7px;
          width: 100%;
          left: 0;
          height: 80px;
        }
      }
    }
    .loadMoreBtn {
      width: var(--main-container-width-dsk);
      max-width: var(--container-max-width);
      margin: 0 auto 20px;
      button {
        border: 1px solid #000;
        border-radius: 5px;
        padding: 7px 20px;
        margin: 20px 0;
        background: #fff;
        height: 45px;
        text-transform: uppercase;
      }
    }
    &_isArabic{
      direction: rtl;
      .PLP-FooterContainer{
        .shopby-list{
        h3, &> li{
          padding-left: 0;
          padding-right: 3.25rem;
          &::before{
            left: auto;
            right: 1rem;
            padding-right: 0;
            padding-left: 1.1225em;
          }
        }
        .shopBy-inner{
          li{
            padding-left: 0;
            padding-right: 3.25rem;
          }
        }
        .shopBy-Grid{
          padding: 40px 80px 40px 40px;
        }
        .shopByGrid-List {
          tr{
            th,td{
              text-align: right;
            }
  
          }
  
        }
      }
      li{
        &::before{
          padding-left: 1.1225rem;
          right: 0;
          left: auto;
        }
      }
      }
      
    }
  }
  &-FooterContent {
    margin: 50px 0 0;
  }
  &-FooterContainer {
    width: var(--main-container-width-dsk);
    max-width: var(--container-max-width);
    margin: auto auto 10px;
    &.loadMore {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
    }
    p {
      margin-bottom: 10px;
      line-height: 1.6;
    }
    h2 {
      font-size: 21px;
      text-transform: none;
      font-weight: var(--fw-demi);
      letter-spacing: -0.61px;
      margin-top: 2.3rem;
      margin-bottom: 1.5rem;
    }
    a {
      text-decoration: underline;
      font-weight: 400;
      &.bold{
        font-weight: 600;
      }
      & + a {
        margin-left: 0;
      }
    }
    b {
      font-weight: 600;
    }
    li {
      &.noListStyle {
        padding-left: 0;
        &::before {
          display: none;
        }
      }
    }
    .shopby-list {
      margin: 25px 0;
      padding-left: 0;
      & > li, h3 {
        font-size: 18px;
        font-weight: 600;
        margin: 25px 0 15px;
        list-style-type: none;
        list-style-position: inside;
        padding-left: 3.25rem;
        &::before{
          position: absolute;
          left: 1em;
          top: 0.07em;
          content: '\2022';
          padding-right: 1.1225em;
        }
      }
      ul {
        padding-left: 15px;
        b {
          font-weight: 600;
        }
      }
      .shopByGrid-List{
        width: 100%;
        tr{
          &:nth-child(even){
            background-color: unset;
          }
          th{
            text-align: left;
            font-weight: 600;
            margin: 15px 0;
            font-size: 14px;
            padding-left: 28px;
            font-weight: 600;
            a{
              font-weight: 600;
            }
          }
        }
      }
      .shopBy-Grid {
        padding: 40px 40px 40px 80px;
        margin: 40px 0;
        background: #fff;
        text-align: center;
        border-radius: 10px;
          a{
            text-decoration: none;
            font-weight: 400;
            text-transform: capitalize;
          }
          .shopBy-column {
            h4 {
              font-weight: 600;
              margin: 15px 0;
            }
            ul {
              padding-left: 0;
              & > li {
                padding-left: 0;
                list-style-type: disc;
                list-style-position: inside;
                line-height: 1.6;
                &::before {
                  display: none;
                }
              }
            }
          }
      }
      .shopBy-inner {
        padding-left: 20px;
        overflow: hidden;
        li {
          line-height: 1.8;
          margin: 10px 0;
          &:last-child{
            margin-bottom: 20px;
          }
        }
      } 
    }
    .bgWhite{
      padding: 30px;
      background: #fff;
      margin-top: 30px;
      border-radius: 10px;
      & >h2:first-child{
        margin-top: 0;
      }
    }
  }
}