.CheckoutAddressBook {
	&-Wrapper {
		@include desktop {
			background: var(--white);
			padding-top: 20px;
		}
	}

	.MyAccountAddressTable {
		@include desktop {
			width: 60%;
			padding: 14px 30px;
		}

		.MyAccountAddressCard {
			height: 122px;
		}
	}

	.CheckoutAddressBookSlider {

		@include before-desktop {
			position: relative;
			left: 45%;
			width: 80%;
			margin-top: 2%;
			padding-top: 2rem;
			padding-bottom: 2rem;
			margin-bottom: 2%;
		}
		
		&_isArabic {
			left: 0;
		}
        
		&-Wrapper {
			left: 30px;
			overflow: hidden;

			&_isArabic {
				left: 0;
				right: 30px;
			}
        }
        
		&-MobileSlider {
			width: 80%;
			overflow: visible;

			&_isArabic {
				transform: translateX(50%);
				direction: ltr;
				left: 0;
				right: 45%;

				.MyAccountAddressTable {
					margin-right: 0;
					margin-left: 0;

					.MyAccountAddressCard {
						&::before {
							left: 230px;
						}

						&_isSelected {
							&::after {
								left: 230px;
							}
						} 
				}}
			}
		}
    }
    
	.Slider {
		.MyAccountAddressTable {
			margin-right: 6%;
			max-width: 270px;
			height: 122px;
			width: 95%;
			text-align: center;
			overflow: hidden;

			.MyAccountAddressCard {
				height: 122px;

				&::after {
					border: none;
				}
			}
		}
	}
}
