.HomePage {
  .DynamicContentBanner {
    box-sizing: border-box;
    margin: 0;
    padding: 0 8px;

    &:last-of-type {
      padding-bottom: 30px;

      @include desktop() {
        padding-bottom: 0;
      }
    }
  }

  // @include desktop {
  text-align: center;

  .DynamicContent {
    > div:not(.DynamicContentFullWidthBannerSlider) {
      @include desktop {
        margin: 0 auto;
        max-width: 76.389vw;
      }
    }
    .DynamicContentGrid {
      @include tablet {
        margin-left: 30px !important;
        margin-right: 30px !important;
      }
    }
  }

  // }
}
