.CmsPage {
    .faq-page {
        margin: 0 8px;

        @include desktop {
            margin: 0 80px;
        }

        .showHide {
            input {
                display: none;
            }

            input:checked + label + .fieldsetContainer {
                display: block;
            }

            input:checked + label > .expand > .plus-sign {
                display: none;
            }

            input:checked + label > .expand > .minus-sign {
                display: inline;
            }

            label {
                margin-top: 12px;
                font-weight: var(--fw-demi);
                font-size: 14px;
                cursor: pointer;

                @include desktop {
                    font-size: 16px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    left: -3px;
                    border: 1px solid $black;

                    @include desktop {
                        width: 20px;
                        height: 20px;
                    }
                }

                .changeArrow {
                    padding-left: 0.5px;
                }

                .minus-sign {
                    top: -1px;
                }
            }

            .fieldsetContainer {
                display: none;
                margin: 5px 0 0 20px;
                font-size: 14px;
            }

            .minus-sign {
                display: none;
            }

            .open {
                display: block;
            }

            .minus-sign,
            .plus-sign {
                margin-right: 5px;
            }
        }
        @include mobile {
            padding-top: 90px;
            padding-bottom: 80px;
        }
    }

    .return-information {
        @include mobile {
            padding: 100px 16px 80px 16px;
        }
    }
}

.PageWrapper {
    &_isArabic {
        .CmsPage {
            .faq-page {
                .showHide {
                    label {
                        font-weight: var(--fw-regular);

                        &::before {
                            right: -3px;
                            top: 1px;
                        }
                    }

                    .fieldsetContainer {
                        margin: 5px 20px 0 0;

                        ul {
                            li:before {
                                right: -30px;
                            }
                        }
                    }

                    .minus-sign,
                    .plus-sign {
                        font-weight: var(--fw-demi);
                        left: 5px;
                        top: 0;
                    }

                    .plus-sign {
                        top: 1px;
                    }
                }
            }
        }
    }
}
