:root {
    --filter-product-count-color: #666;
    --disabeled-radio-button-color:  #b8b8b8;
    --check-mark-mobile-filter-color: #f96446;
}

.PLPFilterOption {
    &-List {
        display: flex;

        label {
            display: flex;
            align-items: center;
        }

        span {
            margin-left: 5px;
            color: var(--filter-product-count-color);
        }
    
        .Field {
            margin: auto 5px auto 15px;

            [type='radio']{
                +label {           
                    &:hover {
                        &::after {
                                --checkmark-color:  var(--check-mark-mobile-filter-color);
                        }
                    }
    
                    border-radius: 50%;
    
                }
                &:disabled + label {
                    color: var(--disabeled-radio-button-color);
                    cursor: auto;
                }
    
                &:checked + label {
                    --primary-base-color: var(--white-color);
                    border-color: var(--disabeled-radio-button-color);
                    
                    &::after {
                        --checkmark-color:  var(--check-mark-mobile-filter-color);
                    }
                }

                
    
                &:focus {

                    &::after {
                        --checkmark-color: var(--black-color);
                    }
                    
                    + label {
                        &::after {
                            --checkmark-color:  var(--check-mark-mobile-filter-color);
                        }
                    }
                }

                .PLPFilterOption {
                    label {
                        padding-top: 20px;
                    }
                }
            }
    
    
            [type='checkbox'] {
    
                &:checked + label {
                    --primary-base-color: transparent;
                    border-color: var(--disabeled-radio-button-color);

                    &::after {
                        --checkmark-color: var(--check-mark-mobile-filter-color);
                    }
                }
    
                &:hover + label {
                    --primary-base-color: transparent;

                    &::after {
                        --checkmark-color: var(--check-mark-mobile-filter-color);
                    }
                }
            }
        }

        &_isArabic {
            span {
                margin-left: 0;
                margin-right: 5px;
            }
        
            .Field {
                margin: auto 15px auto 5px;
            }
        }
    }
}
