.PLPFilterOption {
    &-Input {
        &:checked {
            background: black !important;
        }
    }
    &-List {
        display: flex;

        label {
            display: flex;
            align-items: center;
        }

        span {
            margin-left: 5px;
            color: #666;
        }

        @include before-desktop {
            justify-content: space-between;
            border-bottom: solid 1px #ddd;
            margin: auto 7%;
            flex-direction: row-reverse;
        }
    
        .Field {
            margin: auto 5px auto 15px;

            [type='radio']{
                +label {           
                    &:hover {
                        &::after {
                                --checkmark-color: var(--black-color);
                        }
                    }
    
                    border-radius: 50%;
    
                }
                &:disabled + label {
                    color: #b8b8b8;
                    cursor: auto;
                }
    
                &:checked + label {
                    --primary-base-color: var(--white-color);
                    border-color: #b8b8b8;
                    
                    &::after {
                        --checkmark-color: var(--black-color);
                    }
                }

                
    
                &:focus {

                    &::after {
                        --checkmark-color: var(--black-color);
                    }
                    
                    + label {
                        &::after {
                            --checkmark-color: var(--black-color);
                        }
                    }
                }

                .PLPFilterOption {
                    label {
                        padding-top: 20px;
                    }
                }

                @include before-desktop {
                    &:checked + label {
                        &::after {
                            --checkmark-color: #F96446;
                        }
                    }
                }
            }
    
    
            [type='checkbox'] {
    
                &:checked + label {
                    --primary-base-color: var(--black-color);

                    &::after {
                        --checkmark-color: var(--black-color);
                    }
                }
    
                &:hover + label {
                    --primary-base-color: var(--black-color);

                    &::after {
                        --checkmark-color: transparent;
                    }
                }

                @include before-desktop {
                    + label {
                        border-color: transparent;
                    }

                    &:checked + label {
                        --primary-base-color: transparent;
    
                        &::after {
                            --checkmark-color: #F96446;
                        }
                    }
                }
            }
        }

        &_isArabic {
            span {
                margin-left: 0;
                margin-right: 5px;
            }
        
            .Field {
                margin: auto 15px auto 5px;
            }
        }
    }
}
