:root {
    --filter-product-count-color: #666;
    --disabeled-radio-button-color:  #b8b8b8;
    --check-mark-mobile-filter-color: #f96446;
}

.PLPFilterOption {
    &-Input {
        position: absolute;
        height: 40px;
        width: 100%;
        z-index: 1;
    }
    &-List {
        display: flex;

        label {
            display: flex;
            align-items: center;
            width: 100%;
        }

        span {
            margin-left: 5px;
            color: var(--filter-product-count-color);
        }

        @include before-desktop {
            justify-content: space-between;
            border-bottom: solid 1px #ddd;
            margin: auto 7%;

            &_isArabic {
                justify-content: flex-end;

                .Field {
                    [type='radio'],
                    [type='checkbox']{
                        + label{
                            @include before-desktop {
                                left: 5px;
                                right: unset;
                            }
                        }
                    }
                }
            }
        }

        .Field_type_radio {
            @include before-desktop {
                label {
                    width: 100%;
                    height: 42px;
                }
            }
        }
    
        .Field {
            margin: auto 5px auto 15px;

            @include before-desktop {
                margin: 0;
            }

            [type='radio']{
                + label{
                    @include before-desktop {
                        position: absolute;
                        width: 21px;
                        height: 21px;
                        top: 10px;
                        right: 5px;
                    }
                }

                +label {           
                    &:hover {
                        &::after {
                                --checkmark-color: var(--black-color);
                        }
                    }
    
                    border-radius: 50%;
    
                }
                &:disabled + label {
                    color: var(--disabeled-radio-button-color);
                    cursor: auto;
                }
    
                &:checked + label {
                    --primary-base-color: var(--white-color);
                    border-color: var(--disabeled-radio-button-color);
                    
                    &::after {
                        --checkmark-color: var(--black-color);
                    }
                }

                
    
                &:focus {

                    &::after {
                        --checkmark-color: var(--black-color);
                    }
                    
                    + label {
                        &::after {
                            --checkmark-color: var(--black-color);
                        }
                    }
                }

                .PLPFilterOption {
                    label {
                        padding-top: 20px;
                    }
                }

                @include before-desktop {
                    &:checked + label {
                        &::after {
                            --checkmark-color: #F96446;
                        }
                    }
                }
            }
    
    
            [type='checkbox'] {

                + label{
                    @include before-desktop {
                        position: absolute;
                        top: 10px;
                        right: 5px;
                    }
                }
    
                &:checked + label {
                    --primary-base-color: var(--black-color);

                    &::after {
                        --checkmark-color: var(--black-color);
                    }
                }
    
                &:hover + label {
                    --primary-base-color: var(--black-color);

                    &::after {
                        --checkmark-color: transparent;
                    }
                }

                @include before-desktop {
                    + label {
                        border-color: transparent;
                    }

                    &:checked + label {
                        --primary-base-color: transparent;
    
                        &::after {
                            --checkmark-color: var(--check-mark-mobile-filter-color);
                        }
                    }
                }
            }
        }

        &_isArabic {
            span {
                margin-left: 0;
                margin-right: 5px;
            }
        
            .Field {
                margin: auto 15px auto 5px;
            }
        }
    }
}
