// Colors
$default-primary-base-color: #ff5637;
$default-primary-dark-color: #e4001a;
$default-primary-light-color: #ff7861;

// Fonts
$font-family: 'Avenir Next';
$font-display: swap;

$fw-ultra-light: 100;
$fw-thin: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-demi: 600;
$fw-bold: 700;
$fw-heavy: 800;

$fs-normal: normal;
$fs-italic: italic;
