.MenuBrands {
    width: 100%;

    &-ContentWrapper {
        span, a {
            color: $black;
        }

        a {
            font-weight: 500;

            .Image {
                padding: 35px;
                width: 70px;

                &-Image {
                    border-radius: 50%;
                }
            }
        }

        &_isArabic {
            a {
                .Image {
                    margin-left: 0;
                    margin-right: -20px;
                }
            }
        }
    }

    &-Title {
        text-transform: uppercase;
        width: 100%;
    }

    &-MobileSliderWrapper {
        .Slider-Wrapper {
            max-width: 67%;

            a {
                align-items: center;
                display: flex;
                font-family: 'Avenir Next Medium', serif;
                font-size: 9px;
                flex-direction: column;
                line-height: 16px;
                width: 80px;

                .Image {
                    margin-bottom: 10px;
                }
            }
        }
    }

    @include before-desktop {
        &-ContentWrapper {
            margin-top: 20px;

            &-Brands {
                display: flex;
                text-align: center;
                padding-right: 2px;
                margin-left: 5px;

                a {
                    line-height: 25px;
                    margin-left: 0;
                    padding: 0 5px;
                }

                &_isArabic {
                    direction: ltr;
                }

                div {
                    width: 100%;
                }
            }
        }
    }

    @include desktop {
        width: 23%;
        margin: 20px 0 30px 35px;

        &-ContentWrapper {
            &-Brands {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                height: 290px;
                justify-content: flex-start;
                margin-top: 10px;

                a {
                    margin-left: 0;
                }
            }
        }
    }
}
