#ori-chatbot-root {
  .ori-fixed {
    img {
      height: 45px!important;
      width: 45px!important;
      right: -10px!important;
      bottom: 50px !important;
      @include desktop {
        height: 69px!important;
        width: 69px!important;
        right: 0px!important;
        bottom: unset!important;
      }
      @include tablet {
        height: 60px!important;
        width: 60px!important;
        right: -5px!important;
        bottom: unset!important;
      }
    }

    .ori-full-parent-height {
      width: 70px;
    }
  }

  &.hidden {
    display: none;
  }
}
