#ori-chatbot-root {
    .ori-fixed {
        @include mobile {
            bottom: 100px;
        }

        .ori-full-parent-height {
            width: 70px;
        }
    }

    &.hidden {
        display: none;
    }
}
