.VueProductSlider {
  padding: 0 20px;
  font-weight: var(--fw-regular);

  &-Container {
    width: 76.389vw;
    font-size: 16px;
    margin-top: 32px;
    font-weight: var(--fw-demi);
  }

  &-HeaderContainer {
    display: flex;
    margin-bottom: 21px;
    justify-content: space-between;

    h4 {
      margin-top: 7px;
      font-size: 18px;
      line-height: 25px;
      font-weight: var(--fw-regular);
    }
  }

  &-ViewAllBtn {
    height: 40px;
    width: 100px;
    display: grid;
    cursor: pointer;
    border-radius: 11px;
    place-items: center;
    background-color: #f6f6f6;

    span {
      font-size: 13px;
      font-weight: var(--fw-demi);
    }
  }

  &-SliderContainer {
    width: 100%;
    gap: 0.55vw;
    display: grid;
    overflow-x: auto;
  }

  &-VueProductContainer {
    width: 100%;
    height: 362.66px;
    position: relative;
    background-color: #f6f6f6;
  }
}
