:root {
    --new-tag-color: #C8B581;
    --divider-color: #EFEFEF;
    --button-text-color: #ffffff; 
    --button-color: #000000; 
}

.DynamicContentProductSlider {
    border-top: solid 1px var(--divider-color);
    margin-top: 2rem;
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    width: 85%;

    &_isArabic {
        right: 50%;
        left: 0;
        transform: translateX(50%);
    }    

    &-HeaderContainer {
        position: relative; 
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        margin-top: 2%;
        padding-top: 2rem;
        padding-bottom: 2rem;
        text-align: center;
        margin-bottom: 2%;
        &_isArabic {
            right: 50%;
            transform: translateX(50%);
        }
    }

    &-Header, &-SubHeader {
        width: 100%;
        margin: 0;
        line-height: 1.5rem;
    }

    &-Header {
        @include desktop {
            font-size: large;
        }
    }
    &-SubHeader {
        @include desktop {
            font-size: 1.2rem;
        }
    }

    li {
        content: '';
        padding: 0px;
    }

    img {
        object-fit: cover;
    }

    &-ProductContainer {
        @include desktop {
            position: relative;
        }
    }

    &-ProductItem {
        display: block;
        margin-right: 11%;
        width: 89%;
        height: 100%;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        h2 {
            margin-top: 1rem;
            margin-bottom: 0rem;
        }

        p {
            margin-bottom: 0;
            font-family: 'Avenir Next Regular', serif;
        }

        del {
            display: none;
        }

        .Price {
            font-weight: bold;
        }

        &_isArabic {
            margin-right: auto;
            margin-left: 10%;
            overflow: hidden;
        }

        @include desktop {
            vertical-align: top;
            display: inline-block;
            width: 21%;
            margin-left: 2%;
            margin-right: 2%; 
        }
    }

    &-MobileSlider {
        width: 80%;
        overflow: visible;
        &_isArabic {
            direction: ltr;
        }
    }

    &-TagOverlay {
        position: absolute;
        top: 1rem;
        border-top-right-radius: 1rem; 
        border-bottom-right-radius: 1rem;
        font-size: 1rem;
        color: var(--button-text-color);
        background-color: var(--new-tag-color);
        width: 3rem;
        height: 1.5rem;
        padding: 1.5px;

        &_isArabic {
            @include desktop {
                border-top-left-radius: 1rem; 
                border-bottom-left-radius: 1rem;        
                border-top-right-radius: 0rem;
                border-bottom-right-radius: 0rem;
            }
        }
    }

    &-FavoriteOverlay {
        position: absolute;
        background: url(../../style/icons/icons.png) -33px -980px no-repeat;
        top: 1rem;
        right: 1rem;
        width: 25px;
        height: 20px;

        &_isArabic {
            @include desktop {
                right: auto;
                left: 1rem;
            }
        }
    }

    &-ButtonPrev {
        @include desktop {
            left: 0;
        }

        &_isArabic {
            right: 0;
        }
    }
    &-ButtonNext{
        @include desktop {
            right: 0;
        }

        &_isArabic {
            right: auto;
            left: 0;
        }

    }

    &-ButtonPrev, &-ButtonNext {
        display: none;
        
        @include desktop {
            display: block;
            background-color: var(--button-color);
            color: var(--button-text-color);
            position: absolute;
            width: 3.5vw; 
            height: 3.5vw;
            top: 7vw;
            z-index: 2;
            font-size: 1.5rem;
            font-family: 'Avenir Next Regular', serif;;
        }
    }
}
