:root {
    --my-acc-border: #EFEFEF;
    --my-acc-input-border: #a5a5a5;
}

.MyAccountAddressFieldForm {
    max-width: 540px;

    input {
        width: 100%;

        &[type='checkbox'],
        &[type='radio'] {
            width: 0;
        }

        + label {
            min-width: auto;
        }
    }

    .MyAccountBtn {
        width: 100%;
        margin-top: 25px;

        @include desktop() {
            width: 200px;
        }
    }

    &-Fields {
        margin-bottom: 1rem;

        h2 {
            text-transform: none;
            border-top: 1px solid var(--my-acc-border);
            margin-top: 0;
            padding-top: 29px;
            font-size: 18px;
            font-family: 'Avenir Next Demi Regular', sans-serif;
        }

        input:focus {
            border: 1px solid var(--my-acc-input-border);
        }
    }

    &-FieldWrapper {
        &_hidden {
            height: 0;
            padding: 0;
            overflow: hidden;
            margin: 0;
        }

        &_twoFields {
            display: flex;
            justify-content: space-between;
            .Field {
                width: 48%;
            }
        }

        &_toggle {
            display: flex;
            align-items: center;
            margin-top: 20px;

            div {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                margin-top: 0;
                padding-right: 15px;
                display: inline-block;
            }

            label {

                font-family: 'Avenir Next Regular';
                font-size: 14px;
                font-weight: 400;
                padding-bottom: 0;;
                cursor: pointer;
            }
        }
    }

}
