.HeaderSearch {
  @include before-desktop {
    visibility: hidden;
  }
  &-Container {
    height: 33px;
    margin-left:auto;
    margin-right:20px;
    padding: 3px;
    width: 320px;
  }
  .Field {
    margin: 0;
    #search-field {
      width: 320px;
      height: 33px;
    }
  }

}
