:root {
    --gray: #f5f5f5;
    --charcoal: #4a4a4a;
    --zumthor: #d1d3d4;
}

.HeaderSearch {
    position: absolute;
    z-index: 100;
    width: 100%;
    padding-left: 10px;
    background-color: transparent;

    &-Container {
        height: auto;
        flex-grow: 1;
        display: flex;

        @media (max-width: 1330px) {
            display: none;
        }

        &_isArabic {
            margin-left: 5px;
            margin-right: auto;
        }

        .SearchBackground {
            width: 100vw;
            background-color: var(--white);
            transform: skew(-15deg, 0deg);
            position: absolute;
            left: -1px;
            top: 0;
            min-height: 100%;
            border-bottom: 1px solid var(--zumthor);

            &_isArabic {
                right: -1px;
                left: auto;
            }
        }
    }

    .Field {
        margin: 0;

        input {
            background-image: url('./icons/search-black.png');
            background-size: 13px;
            background-color: transparent;
            background-position: 10px 50%;
            border: none;
            font-family: 'Avenir Next Regular', Serif;
            font-size: 15px;
            height: 40px;
            padding-left: 35px;
            text-transform: none;
            width: 100%;
            color: black;

            &::placeholder {
                color: $black;
            }
        }
    }

    &_isArabic {
        #search-field {
            background-position: right;
            padding-right: 25px;
            margin-right: 20px;
        }
    }
}
