.cityAreaSelectionMainBlock {
  .cityAreaSelectionOuterblock {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #4a4a4a;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;

    .cityAreaSelectionPopUp {
      @include mobile {
        height: 561px;
        width: 100%;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background: #ffffff;
        padding: 30px 20px;
        z-index: 100;
        border-radius: 12px;
      }

      @include desktop {
        width: 412px;
        height: 600px;
        background: #ffffff;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 40px 30px;
        border-radius: 12px;
      }

      .cityAreaSelectionInnerBlock {
        .cityAreaButtons {
          display: flex;
          justify-content: center;
          align-items: center;

          .button {
            min-width: 76px;
            height: 38px;
            border-radius: 4px;
            border: 1px solid #adadad;
            font-family: Avenir Next;
            font-size: 14px;
            font-weight: 600;
            line-height: 16.39px;
            text-align: center;
            color: #adadad;
            margin: 0 10px;
          }

          .active {
            border: 1px solid #000000;
            background: #d8d9db;
            color: #000000;
          }
        }

        h3 {
          font-family: Avenir Next;
          font-size: 16px;
          font-weight: 600;
          text-transform: uppercase;
          margin-top: 30px;
        }

        .cityAreaSearchBox {
          .searchIcon {
            position: absolute;
            z-index: 1;
            width: 15px;
            height: 15px;
            top: 12px;
            left: 11px;

            &_isArabic {
              left: initial;
              right: 15px;
            }
          }

          .cityAreaSearchInputBoxForMobile {
            height: 40px;
            width: 100%;
            border-radius: 8px;
            background-color: #f5f5f5;
            text-transform: initial;
            border: none;
            outline: none;
            font-size: 12px;
            padding-left: 35px;
            ::placeholder {
              color: #000000;
            }
            &_isArabic {
              margin-left: 2px;
              padding-right: 35px;
            }
          }
        }

        .cityAreaList {
          ul {
            margin: 20px 0;
            overflow-y: scroll;

            @include mobile {
              height: 300px;
            }

            @include desktop {
              height: 375px;
            }

            li::before {
              content: "";
            }

            li {
              list-style: none;
              min-height: 50px;
              text-align: left;
              width: 100%;
              font-family: Avenir Next;
              font-size: 14px;
              font-weight: 500;
              padding: 0;
              border-bottom: 1px solid #eaeaea;
              line-height: 50px;
            }

            li:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}
