.MyAccountMyWishlist {
    margin: 20px 0 150px 0;

    &-Empty {
        h2 {
            font-size: 30px;
            font-weight: var(--fw-demi);
            letter-spacing: -0.83px;
            line-height: 20px;
            text-align: center;
            text-transform: unset;
        }

        span {
            background: linear-gradient(225deg, #FF8960 0%, #FF62A5 100%);
        }
    }

    &-Items {
        display: grid;
        grid-template-columns: 48% 48%;
        grid-column-gap: 1.8%;
        width: 102.5%;

        @include after-mobile {
            grid-template-columns: 32.66% 32.66% 32.66%;
            grid-column-gap: 2%;
            grid-row-gap: 65px;
        }
    }

    &-Item {
        overflow: hidden;
        width: 100%;
        text-align: center;
        font-weight: var(--fw-regular);

        li::before {
            content: '';
        }

        a {
            text-decoration: none;
        }

        .ProductItem {
            padding: 0;

            &-Brand {
                font-weight: var(--fw-bold);
                margin-bottom: 0;
                font-size: 12px;
                letter-spacing: .2px;
                line-height: 16px;

                @include desktop {
                    font-size: 15px;
                    line-height: 20px;
                    letter-spacing: .25px;
                }
            }

            &-Title {
                font-size: 13px;
                letter-spacing: 0;
                line-height: 15px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: var(--Tundora);
                margin: 1.4px 0 6px 0;

                @include desktop {
                    font-size: 15px;
                }
            }

            .WishlistIcon {
                width: 28px;
                height: 28px;

                @include desktop {
                    width: 36px;
                    height: 36px;
                }

                &-Icon {
                    height: 22px;
                    width: 22px;
                    background-size: 100%;
                    left: 3px;
                    top: 4px;

                    @include desktop {
                        height: 28px;
                        width: 28px;
                        left: 4px;
                        top: 5px;
                    }
                }
            }

            .Image {
                &-Image {
                    object-fit: cover;
                }
            }

            .Price {
                display: flex;
                justify-content: center;
                position: relative;
                font-weight: var(--fw-demi);
                font-size: 13px;

                &-Special,
                &-Discount {
                    display: none;

                    &_discount {
                        display: inline;
                        color: var(--Cardinal);
                    }
                }

                &-Base {
                    &_discount {
                        font-size: 12px;
                        margin-right: 10px;
                    }
                }

                @include desktop {
                    font-size: 16px;

                    &-Base {
                        &_discount {
                            font-size: 11px;
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
    }
}
