.PDP {
  max-width: var(--container-max-width);
  margin: 0 auto;
  z-index: 93;
  @include mobile() {
    margin-top: -64px;
  }
  @include tablet {
    // margin-inline: 30px;
  }
  .VueProductSlider {
    &-Container {
      @include tablet {
        padding: 0;
        margin: 0;
        width: 100%;
      }
    }
  }
  .Seperator {
    background-color: #efefef;
    margin: 35px 0;
    height: 1.5px;
    @include mobile {
      margin: 15px 0;
      &_isMobile {
        display: none;
      }
    }
  }
}
