.HeaderBottomBar {
    background-color: black;
    z-index: 1;

    &-Content {
        background-color: black;

        @include before-desktop {
            background-color: $white;
            position: fixed;
            z-index: 1;
            top: 0;
            width: 280px;
            height: 100%;
            overflow: scroll;

            .HeaderSearch-container {
                display: none;
            }
        }

        @include desktop {
            display: flex;
            width: 1400px;
            margin: 0 auto;
        }

        .HeaderMenu {
            &-Button {
                display: none;
            }
        }
    }
}
