:root {
    --menu-background-color-desktop:#000;
    --menu-background-color-mobile:#fff;
    --mobile-menu-category-background-color: #f3f4f6;
    --sales-block-background-color-desktop: #d12229;
    --light-border-color: #d3d3d3;
    --default-text-color: var(--menu-background-color-desktop);
    --light-text-color: var(--menu-background-color-mobile);

}
.HeaderBottomBar {
    background-color: var(--menu-background-color-desktop);
    z-index: 1;
    @include before-desktop {
        display: none;
    }

    &-Content {
        background-color: var(--menu-background-color-desktop);
        @include before-desktop {
            background-color: var(--menu-background-color-mobile);
            height: 100%;
            overflow-y: scroll;
            position: fixed;
            top: 0;
            width: 280px;
            z-index: 1;

            .HeaderSearch-Container {
            display: none;
            }

            .FooterMain {
                background-color: var(--menu-background-color-mobile);
                display: block;
                height: 440px;
                margin-bottom: -144px;
                padding: 0;

                &-Layout {
                    display: flex;
                    flex-direction: column-reverse;
                    margin: 0;

                    h4 {
                        display: none;
                    }

                    :not(:first-child) {
                        display: none;
                    }

                    :last-child {
                        display: flex;
                        flex-direction: column-reverse;

                        .FooterMain {
                            margin-bottom: -30px;

                            &-WrapperSecond {
                                flex-direction: row;
                                margin-left: 10px;
                            }

                            &-WrapperFirst {
                                display: flex;
                                flex-direction: row-reverse;
                                margin-bottom: 20px;
                                margin-right: 10px;
                            }
                        }
                    }

                    :first-child {
                        .FooterMain-Nav {
                            display: flex;

                            ul {
                                flex-direction: column;
                                margin-left: 10px;

                                li {
                                    border-bottom: 1px solid var(--light-border-color);
                                    line-height: 50px;
                                }

                                :nth-child(-n+3) {
                                    display: block;
                                }

                                li:last-child {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                &-Column {
                    min-height: 0;
                }
            }

            .FooterMiddle {
                background-color: var(--menu-background-color-mobile);
                display: inline-flex;
                padding-left: 0;

                .HeaderAccount {
                    display: none;
                }

                .CountrySwitcher {
                    &-CountryBtn {
                        margin-left: -20px;
                    }
                }

                &-Layout {
                    display: block;

                    .FooterMiddle {
                        &-CustomerSupport {
                            display: none;
                        }

                        &-FooterAccount {
                            display: none;
                        }
                    }
                }
            }
        }

        .HeaderMenu {
            &-Button {
                display: none;
            }
        }

        @include desktop {
            .FooterMain {
                display: none;
            }

            .FooterMiddle {
                display: none;
            }

            display: flex;
            margin: 0 auto;
            max-width: 1440px;
        }
    }
}
