.PLPDetails {
    display: flex;
    align-items: center;
    &-Wrapper {
        display: flex;
        align-items: center;
        grid-gap: 20px;
        margin-bottom: 55px;
    }
    &-ShareIcon {
        display: flex;
        justify-content: flex-end;
        grid-gap: 25px;
        margin-bottom: 20px;
        img {
            width: 25px !important;
            margin-left: 15px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    &-BrandName {
        font-size: 40px;
        font-weight: 600;
        letter-spacing: -1px;
        line-height: 55px;
    }
    &-BrandHTML {
        font-size: 18px;
        letter-spacing: 0;
        line-height: 25px;
        * {
            font-size: 18px;
            letter-spacing: 0;
            line-height: 25px;
            padding: 0 !important;
            margin: 0 !important
        }
    }
    &-BrandImage {
        flex: 1;
        padding-block: 1rem;
    }
    &-BrandDescription {
        flex: 1;
        padding-block: 1rem;
        &.notBrandImageVisible {
            text-align: center;
            .PLPDetails-BrandName {
                margin-top: 16px;
                margin-bottom: 16px;
            }
        }
    }
}