:root{
    --active-button-header-color: #f96446;
    --inactive-button-header-color: #4a4a4a;
}

@include before-desktop{
    .HeaderAccount-PopUp, .HeaderAccount-PopUp_isHidden_undefined{
        display: block;
        overflow-y: scroll;
    }
    .MyAccountOverlay-Heading{
        display: block;
    }
    .MyAccountOverlay{
        display: block;
        height: 100%;
        padding-top: 0;
    }
    .MyAccountOverlay-Action_state_createAccount{
        padding-top: 0;
    }
    .MyAccountOverlay-Image{
        object-position: 0;
        width: 100%;
    }
    .MyAccountOverlay-ForgotPasswordSubheading{
        font-weight: inherit;
    }
}
@include mobile{
    .MyAccountOverlay-Action{
        display: block;
    }
    .MyAccountOverlay-Buttons{
        margin: 30px;
    }
}
@media (min-width: 320px) and (max-width: 376px) {
    .MyAccountOverlay-Action form{
        padding: 0 20px
    }
}
@media (min-width: 375px) and (max-width: 426px) {
    .MyAccountOverlay-Action form{
        padding: 0 40px
    }
}

.MyAccountOverlay-Button .Button{
    &:hover{
        background-color: var(--black-color);
    }

}
.MyAccountOverlay-Button_isSignIn::after{
    background: none;
}


.MobileBottomBar {
    display: flex;
    z-index: 90;
    background: $white;
    height: 83px;
    position: fixed;
    bottom: 0;
    width: 100%;

    @include desktop {
        display: flex;
        z-index: 0;
        background: none;
        height: auto;
        position: relative;
    }

    &-HomeAndBrand {
        display: block;
        text-transform: none;
        font-size: 10px;
        font-weight: 500;
        letter-spacing: -0.2px;
        line-height: 14px;
        text-align: center;
        color: var(--inactive-button-header-color);
        height: 40px;
        width: 40px;
        padding: 0;
        text-align: center;
        margin: 10px auto 0;

        &::before{
            content: "";
            right: 0;
            background-size: 27px;
            width: 27px;
            height: 27px;
            display: inline-block;
            font-size: 0;
            filter: invert(26%) sepia(2%) saturate(21%) hue-rotate(43deg) brightness(90%) contrast(80%);
        }

        &_isHomeButton {
            &::before{
                background: url(./icons/home-solid.svg) no-repeat;
                background-size: 27px;
            }
        }

        &_isBrandButton {
            &::before{
                background: url(./icons/brand.svg) no-repeat;
                background-size: 27px;
            }
        }

        &_isActive {
            color: var(--active-button-header-color);

            &::before{
                filter: invert(43%) sepia(60%) saturate(1535%) hue-rotate(335deg) brightness(107%) contrast(95%);
            }
        }


        @include desktop {
            display: none;
        }
    }

    &-WishListAndAccount {
        width: 20%;
    }

    .HeaderMenu {
        .Menu {
            &-Container {
                display: none;
            }
        }
    }
}
