.PDPAlsoAvailable {
    margin-top: 12px;

    li {
        padding: 0 3px;
        flex: 0 0 auto; 

        &:before {
            content: none;
        }
    }

    &-List {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        flex-wrap: nowrap;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar; 
    }

    &-List::-webkit-scrollbar {
        display: none;
    }

    &-Title {
        @include desktop {
            font-size: 17px;
            font-weight: var(--fw-demi);
        }
    }

    &_isAlsoAvailable {
        display: none;
    }
}

.PDPSummary {
    .PDPAlsoAvailable {
        &-Title {
            text-transform: none;
            @include before-desktop {
                font-size: 17px;
                font-weight: 600;
                letter-spacing: 0;
                line-height: 30px;
                text-align: center;
            }
        }
    }
}
