.nested-categories-list-container {
    display: flex;
    flex-direction: column;

    .nested-categories-list {
        display: flex;
        flex-direction: row;
        height: 50px;
        padding: 0px 25px;

        .categriesImage {
            width:33.33px;
            height: 26px;
        }

        .categoryLabel {
            margin: 3% 0px 0px 20px;
            font-family: 'Avenir Next';
            font-weight: 400;
            font-size: 14px;
            color: #606060;
            &_isArabicValue {
                margin: 5% 25px 0px 20px;
            }
        }
    }
}
