.MyAccountOrderViewItem {
    border-bottom: 2px solid var(--divider-color);
    padding: 10px 0;
    .AreaText {
        display: flex;
        color: #28d9aa;
        font-family: "Avenir Next";
        font-size: 12px;
        font-weight:var(--fw-medium) ;
        align-items: center;
        letter-spacing: 0;
        line-height: 12px;
        top: 6px;
        padding-bottom: 10px;
        // span:nth-child(2) {
        //   margin-left: 4px;
        //   color: #28d9aa;
        // }
      }
    &-Name {
        margin: 0 0 10px 0;
    }
}
