.ExpandableContent {
    width: 100%;

    &-HeaderBlock {
        width: 100%;
        display: inline-block;
        min-height: 1.5rem;
        font-weight: bold;
        padding-top: 2rem;
    }

    &-Header {
       font-size: 24px; 
       font-family: 'Avenir Next Demi';
       font-weight: bold;
    }

    &-Button {
        float: right;
        margin-top: 0.5rem;
        border: solid black;
        border-width: 0 2px 2px 0;
        padding: 6px;
        transform: rotate(-45deg);

        &_isArabic {
            float: left;
            margin-left: 5px;
            transform: rotate(-225deg);
        }

        &_isOpen {
            transform: rotate(-135deg);
        }
    }
    
    &-Body {
        display: none;
        
        &_isOpen {
            display: inline;
        }
    }
}