.DynamicContentHeader{
    h1{
        font-size: 15px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 0px;
    }
    p{
        text-align: center;
        font-size: 13px;
    }
}