.CountrySwitcher {
    align-items: center;
    display: flex;
    font-size: 11px;
    max-width: 70px;

    .Field {
        margin-top: 0;

        select {
            border: none;
            min-height: 0;
            padding: 0;
        }

        &Select::after {
            content: "";
            position: absolute;
            width: 0px;
            height: 0px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid black;
            border-width: 5px 5px 0 5px;
            top: 0px;
            right: -1px;
            transform: rotate(-90deg);
        }
    }
}
