.cart-nudge-container {
  height: 48px;
  display: flex;
  background-color: #f6f6f6;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;

  .content-close {
    display: flex;
    align-items: center;
    margin: auto;
    .gif {
      width: 48px;
    }
    .content {
      margin: 12px auto;
      font-size: 13px;
      font-family: "Avenir Next";
      line-height: 18px;
      padding-left: 4px;
      .signin {
        text-decoration: underline;
        font-weight: 650;
        padding: 0 5px;
        cursor: pointer;
        margin-left: 10px;
      }
    }
  }
  .close {
    margin-top: 12px;
    padding: 3px;
    width: 18px;
    cursor: pointer;
  }

  @include mobile {
    height: 60px;
    .close {
      width: 20px;
    }
  }
}
