:root {
    --footer-background-color: #f6f6f6;
}

.FooterMiddle {
    padding: 25px 30px 23px 30px;
    margin-top: 3px;
    background: var(--footer-background-color);

    @include before-desktop {
        display: none;
    }

    &_isCheckout {
        height: 70px;
        padding: 20px 30px 30px 30px;
        background: var(--white);

        .HeaderAccount, 
        .CountrySwitcher,
        .LanguageSwitcher {
            display: none;
        }
    }

    &-Layout {
        display: flex;
        justify-content: space-between;
        max-width: 1420px;
        margin: auto;

        &_isCheckout {
            max-width: 1150px;
        }
    }

    &-CustomerSupport {
        width: 33%;

        .InlineCustomerSupport {
            &-Dropdown {
                top: auto;
                bottom: 100%
            }

            &-DisplayQuickAccess {
                display: none;
            }

            &-Button {
                padding: 0;
            }
        }
    }

    &-FooterAccount {
        padding-left: 40px;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 19px;

        .HeaderAccount {
            z-index: 1;
            padding-top: 5px;
            margin: 0;
        }
    }

    &-StoreSwitcher {
        width: 33%;
        display: flex;

        .CountrySwitcher {
            &-CountryBtn {
                &::after {
                    transform: none;
                }
            }
        }

        .CountryMiniFlag {
            &-Container {
                span {
                    border-left: 7px solid var(--footer-background-color);
                    border-right: 7px solid var(--footer-background-color);
                }
            }
        }
    }
}

.PageWrapper {
    &_isArabic {
        .FooterMiddle {
            &-StoreSwitcher {
                .CountrySwitcher {
                    &-CountryBtn {
                        &::before {
                            transform: none;
                        }
                    }
                }
            }
        }
    }
}
