:root{
    --footer-background-color:#f6f6f6;
    --foter-hyperlink-color: $black;
}

.FooterMiddle {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    padding: 25px 50px 23px 60px;
    background: var(--footer-background-color);

    @include before-desktop {
        display: none;
    }

    &-CustomerSupport {
        width: 33%;

        .InlineCustomerSupport{
            &-Dropdown {
                top: auto;
                bottom: 100%
            }
        
            &-DisplayQuickAccess {
                display: none;
            }
        }
    }

    &-FooterAccount{
        padding-left: 40px;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 19px;

        .HeaderAccount {
            padding-top: 5px;
            margin: 0;
        }
    }

    &-StoreSwitcher {
        width: 33%;
        display: flex;

    .CountrySwitcher {

        &-CountryBtn {

            &::after {
                transform: none;
            }
        }
    }

    .CountryMiniFlag {
        &-Container {
    
            span {
                border-left: 7px solid #f6f6f6;
                border-right: 7px solid #f6f6f6;
            }
        }
    }
    }
}