.SuccessPageContainer {
  text-align: center;
  .successIcon {
    width: 120px;
    height: 120px;
    margin: auto;
  }
  .SuccessHeading {
    font-family: "Avenir Next Demi Bold";
    text-transform: none;
    line-height: 55px;
    font-size: 40px;
  }
  .SuccessSubHeading {
    line-height: 22px;
    font-size: 16px;
  }
  .ThankYouBlock {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 16px;
    width: 335px;
    height: 40px;
    border-radius: 6px;
    margin: 35px auto 100px auto;
    .ThankYouText {
      color: white;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
