// Ultra light
@font-face {
    font-family: $font-family;
    font-style: $fs-normal;
    font-weight: $fw-ultra-light;
    font-display: $font-display;
    src: url('./AvenirNextCyr-UltraLight.ttf');
}

@font-face {
    font-family: $font-family;
    font-style: $fs-italic;
    font-weight: $fw-ultra-light;
    font-display: $font-display;
    src: url('./AvenirNextCyr-UltraLightIt.ttf');
}

// Thin
@font-face {
    font-family: $font-family;
    font-style: $fs-normal;
    font-weight: $fw-thin;
    font-display: $font-display;
    src: url('./AvenirNextCyr-Thin.ttf');
}

@font-face {
    font-family: $font-family;
    font-style: $fs-italic;
    font-weight: $fw-thin;
    font-display: $font-display;
    src: url('./AvenirNextCyr-ThinItalic.ttf');
}

// Light
@font-face {
    font-family: $font-family;
    font-style: $fs-normal;
    font-weight: $fw-light;
    font-display: $font-display;
    src: url('./AvenirNextCyr-Light.ttf');
}

@font-face {
    font-family: $font-family;
    font-style: $fs-italic;
    font-weight: $fw-light;
    font-display: $font-display;
    src: url('./AvenirNextCyr-LightItalic.ttf');
}

// Regular
@font-face {
    font-family: $font-family;
    font-style: $fs-normal;
    font-weight: $fw-regular;
    font-display: $font-display;
    src: url('./AvenirNextCyr-Regular.ttf');
}

@font-face {
    font-family: $font-family;
    font-style: $fs-italic;
    font-weight: $fw-regular;
    font-display: $font-display;
    src: url('./AvenirNextCyr-Italic.ttf');
}

// Medium
@font-face {
    font-family: $font-family;
    font-style: $fs-normal;
    font-weight: $fw-medium;
    font-display: $font-display;
    src: url('./AvenirNextCyr-Medium.ttf');
}

@font-face {
    font-family: $font-family;
    font-style: $fs-italic;
    font-weight: $fw-medium;
    font-display: $font-display;
    src: url('./AvenirNextCyr-MediumItalic.ttf');
}

// Demi
@font-face {
    font-family: $font-family;
    font-style: $fs-normal;
    font-weight: $fw-demi;
    font-display: $font-display;
    src: url('./AvenirNextCyr-Demi.ttf');
}

@font-face {
    font-family: $font-family;
    font-style: $fs-italic;
    font-weight: $fw-demi;
    font-display: $font-display;
    src: url('./AvenirNextCyr-DemiItalic.ttf');
}

// Bold
@font-face {
    font-family: $font-family;
    font-style: $fs-normal;
    font-weight: $fw-bold;
    font-display: $font-display;
    src: url('./AvenirNextCyr-Bold.ttf');
}

@font-face {
    font-family: $font-family;
    font-style: $fs-italic;
    font-weight: $fw-bold;
    font-display: $font-display;
    src: url('./AvenirNextCyr-BoldItalic.ttf');
}

// Heavy
@font-face {
    font-family: $font-family;
    font-style: $fs-normal;
    font-weight: $fw-heavy;
    font-display: $font-display;
    src: url('./AvenirNextCyr-Heavy.ttf');
}

@font-face {
    font-family: $font-family;
    font-style: $fs-italic;
    font-weight: $fw-heavy;
    font-display: $font-display;
    src: url('./AvenirNextCyr-HeavyItalic.ttf');
}
