@font-face {
    font-family: "Avenir Next Bold";
    src: url('./AvenirNextCyr-Bold.ttf');
}

@font-face {
    font-family: "Avenir Next Bold Italic";
    src: url('./AvenirNextCyr-BoldItalic.ttf');
}

@font-face {
    font-family: "Avenir Next Demi";
    src: url('./AvenirNextCyr-Demi.ttf');
}

@font-face {
    font-family: "Avenir Next Demi Italic";
    src: url('./AvenirNextCyr-DemiItalic.ttf');
}

@font-face {
    font-family: "Avenir Next Heavy";
    src: url('./AvenirNextCyr-Heavy.ttf');
}


@font-face {
    font-family: "Avenir Next Heavy Italic";
    src: url('./AvenirNextCyr-HeavyItalic.ttf');
}


@font-face {
    font-family: "Avenir Next Italic";
    src: url('./AvenirNextCyr-Italic.ttf');
}


@font-face {
    font-family: "Avenir Next Light";
    src: url('./AvenirNextCyr-Light.ttf');
}


@font-face {
    font-family: "Avenir Next Light Italic";
    src: url('./AvenirNextCyr-LightItalic.ttf');
}


@font-face {
    font-family: "Avenir Next Medium";
    src: url('./AvenirNextCyr-Medium.ttf');
}


@font-face {
    font-family: "Avenir Next Medium Italic";
    src: url('./AvenirNextCyr-MediumItalic.ttf');
}


@font-face {
    font-family: "Avenir Next Regular";
    src: url('./AvenirNextCyr-Regular.ttf');
}


@font-face {
    font-family: "Avenir Next Thin";
    src: url('./AvenirNextCyr-Thin.ttf');
}


@font-face {
    font-family: "Avenir Next Thin Italic";
    src: url('./AvenirNextCyr-ThinItalic.ttf');
}


@font-face {
    font-family: "Avenir Next Ultra Light";
    src: url('./AvenirNextCyr-UltraLight.ttf');
}


@font-face {
    font-family: "Avenir Next Ultra Light It";
    src: url('./AvenirNextCyr-UltraLightIt.ttf');
}

