//change close image
.StoreSwitcherPopup {
    position: fixed;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    background: rgba(70, 70, 70, 0.6);
    z-index: 8;

    &-Container {
        display: flex;
        position: fixed;
        top: 150px;
        right: 0;
        left: 0;
        margin-right: auto;
        margin-left: auto;
        z-index: 9;
        background: $white;
        min-height: 10em;
        width: 770px;
    }

    &-Image {
        width: 385px;
        height: auto;
        object-fit: cover;
    }
    &-Content {
        min-width: 385px;
    }
    &-ButtonsContainer {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    &-List {
        li {
            list-style: none;
            &::before {
                content: '';
            }
            padding: 0;
            text-transform: uppercase;
            border-bottom: 1px solid rgb(230, 230, 230);
            cursor: pointer;
        }
        li:last-child {
            border-bottom: none;
        }
    }
    &-Options {
        padding: 30px 60px 10px;
    }
    &-Close {
        float: right;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background: black;
        color: white;
        padding: 0;
        margin: 10px;
        cursor: pointer;
        z-index: 10;
        padding: 5px;
        display: flex;
        align-items: center;
        svg {
            fill: $white;
            margin: 0 auto;
        }
    }
    &-LanguageBtn {
        width: 130px;
    }
    &-Check {
        float: right;
    }
    &-Flag {
        display: inline-block;
        background-image: url(flags.png);
        background-repeat: no-repeat;
        width: 20px;
        height: 13px;
        margin-right: 8px;
    }
    &-CountryBtn {
        width: 100%;
        text-align: start;
        padding: 0;
        margin-top: 10px;
        font-weight: 400;
    }

}