.StoreSwitcherPopup {
    align-items: center;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 8;
    height: 1px;

    &-Container {
        display: flex;
        right: 150px;
        margin-right: auto;
        margin-left: auto;
        z-index: 9;
        background: $white;
        min-height: 10em;
        height: 80%;
        max-height: 550px;
        position: absolute;
        height: 260px;
        border-radius: 12px;
        background-color: #FFFFFF;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
        top: 35px;
        @include mobile{

        }
        &_isArabic{
            left: 150px;
            right: unset;
        }
    }

    .LazyLoad-wrapper {
        img{
            width: 385px !important;
            object-fit: cover;
        }

    }
}
