:root{
    --footer-bottom-background-color: #333;
    --footer-bottom-text-color: white;
    --footer-bottom-hyperlink-color: #9b9b9b;
}

.FooterMobile {
    background: var(--footer-bottom-background-color);
    display: flex;
    justify-content: space-between;
    padding: 17px 20px 18px 21px;
    max-width: auto;
    height: 50px;

    @include desktop{
        display: none;
    }

    &-Copyright {
        //padding-top: 12px;
        color: var(--footer-bottom-text-color);
        font-family: "Avenir Next Medium";
        font-size: 11px;
        font-weight: 500;
        letter-spacing: 0.42px;
        line-height: 15px;
    }

    &-Hyperlinks, a {
        margin-left: 0;
        text-decoration: none;
        padding-top: 1px;
        font-size: 9px;
        color: var(--footer-bottom-hyperlink-color);
        font-family: "Avenir Next Demi";
        font-weight: 600;
        letter-spacing: 0.5px;
        text-align: right;
    }
}