.SearchPage {
  width: var(--main-container-width-dsk);
  max-width: 1440px;
  margin-inline: auto;
  @include mobile {
    width: 100vw;
    padding-top: 160px;
  }
  @include tablet {
    width: 100vw;
  }

  .PLPFilters-ToolBar {
    @include mobile {
      top: 190px;
    }
  }

  .PLPFilterMobile {
    top: 154px;
  }
}
