:root {
    // Declare imported primary colors to change the theme's colors
    --primary-base-color: var(--imported_primary_base_color, #{$default-primary-base-color});
    --primary-dark-color: var(--imported_primary_dark_color, #{$default-primary-dark-color});
    --primary-light-color: var(--imported_primary_light_color, #{$default-primary-light-color});

    // Font declaration
    --avenir-regular-font: 'Avenir Next Regular', serif;
    --avenir-medium-font: 'Avenir Next Medium', serif;
    --avenir-bold-font: 'Avenir Next Bold', serif;
}

body {
    font-family: 'Avenir Next Medium';
}
