.Brands {
    margin: 90px auto 110px;
    max-width: 1440px;
    padding: 5px 0;

    @include desktop {
        margin: 0 auto 110px;
    }

    &-Heading {
        font-size: 29px;
        text-align: center;

        @include mobile {
            display: none;
        }
    }

    &-Categories {
        border-bottom: 1px solid var(--color-dusty-gray);
        text-align: center;
    }

    &-LetterFilter {
        border-bottom: 5px solid var(--color-gainsboro);
        text-align: center;
    }

    &-CategoryButton,
    &-LetterButton {
        color: var(--color-medium-grey);

        &:hover {
            color: var(--black);
        }

        &_isSelected {
            color: var(--black);

            &::after {
                border-bottom: 5px solid var(--black);
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                bottom: 0;
                content: '';
                left: 50%;
                position: absolute;
                transform: translateX(-50%) scale(1.3);
            }
        }
    }

    &-LetterButton {
        font-weight: var(--fw-regular);

        &_isSelected {
            font-weight: var(--fw-bold);

            &::after {
                content: unset;
            }
        }
    }

    &-Groups {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr;
        justify-content: center;
        padding: 20px 40px;

        @include after-mobile {
            grid-template-columns: repeat(auto-fill, 210px);
        }

        @include desktop {
            gap: 40px 20px;
            padding: 20px 20px;
        }

        &_isFiltered {
            grid-template-columns: 100%;
        }
    }
}
