.HeaderLogo {
    height: 40px;
  @include before-desktop {
    .Image {
      height: 22px;
      width: 100px;
      padding: 0;
    }
  }
    .Image {
      height: 40px;
      width: 190px;
      padding: 0;
    }
}
