.Brand {
    display: block;
    text-transform: none;
    height: unset;
    font-weight: unset;
    padding: 0;
    font-family: var(--avenir-regular-font);
    font-size: 13px;
    line-height: 1.5;
    margin-top: 1rem;
}
