.Settings {
    .SettingsList {
        .MyAccountTabListItem {
            &:last-child {
                button {
                    &:before {
                        background-image: none;
                    }
                }
            }
            &-Button {
                padding-left: 16px;
                padding-top: 0;
                padding-bottom: 0;
                &::before, &::after {
                    display: none;
                }
                a {
                    display: block;
                    width: 100%;
                }
            }
            &-ButtonText {
                display: flex !important;
                justify-content: space-between;
            }
        }
    }
}
