:root {
    --white: #ffffff;
    --burning-orange: #ff742f;
}

.DynamicContentBanner {
    margin: 20px 10px;
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
    font-weight: var(--fw-regular);
    font-size: 16px;

    .Image {
        height: auto;

        &-Image {
            position: static;
        }
    }

    a {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }

    button {
        border: 1px solid var(--black-color);
        width: 195px;
        height: 40px;
        font-size: 12px;
        font-weight: var(--fw-demi);
        margin-top: 10px;

        &:hover{
            text-decoration: underline;
        }
    }
}
@media  (max-width: 860px) {
    .DynamicContentBanner {
        width: 50%;
    }
  }
