@import ".pages/faq.styles.scss";
@import ".pages/shipping.styles.scss";

.CmsPage {
    @include mobile {
        padding-top: 0;
    }

    &-Content {
        margin-bottom: 50px;

        img {
            position: static;
            height: auto;
            width: 100%;
            max-width: 275px;
            margin: 14px 0;
        }
    
        .Image {
            padding-bottom: 0;
            height: 100%;
        }

        .information {
           &-page {
                font-size: 16px;
                margin-left: 0;
                margin-right: 0;

                h1 {
                    font-size: 30px;
                }

                ul {
                    margin: 20px 0;

                    li {
                        font-size: 0.9em;

                        @include desktop {
                            font-size: 1em;
                        }
                    }
                }

                p {
                    font-size: 16px;
                    margin-bottom: none;
                }

                &__label {
                    margin-top: 20px;
                    font-weight: var(--fw-bold);
                    font-size: 16px;
                }
           } 
        }
    }
}