:root {
    --pdp-new-text-color: #C8B581;
    --pdp-exclusive-text-color: #9B9B9B;
    --pdp-line-color: #EFEFEF;
}

.PDPSummary {
    font-family: "Avenir Next Regular";
    margin-top: 20px;
    padding: 0 20px;

    p {
        font-size: 18px;
    }

    h1 {
        font-size: 24px;
    }

    &-Header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    .ProductLabel {
        color: var(--pdp-new-text-color);
        font-size: 16px;
        margin-right: 4px;
        text-transform: uppercase;
    }

    &-Exclusive {
        color: var(--pdp-exclusive-text-color);
        font-size: 16px;
    }

    &-HeaderWardrobeBtn {
        font-family: 'Avenir Next Medium';
        margin: 0 25px;
        width: 30px;
        height: 30px;
        font-size: 10px;
        border-radius: 15px;
        padding: 0;

        div::before {
            content: ' ';
            position: absolute;
            width: 20px;
            left: 4px;
            top: -12px;
            height: 20px;
            background-image: url(./icons/hanger.svg);
            background-size: 20px;
        }

        &:hover {
            div::before {
                background-image: url(./icons/hanger-white.svg);
            }
        }

        @include desktop() {
            width: 147px;

            div:before {
                top: -4px;
                left: 10px;
            }
        }
    }

    &-WardrobeTxt {
        display: none;

        @include desktop() {
            display: inline-block;
            margin-left: 20px;
        }
    }


    &-ShareTxt {
        display: none;

        @include desktop() {
            margin-left: 20px;
            display: inline-block;
        }
    }

    .Price {
        font-family: 'Avenir Next Bold';
        font-size: 20px;

        &-Base {
            &_discount {
                margin-right: 20px;
                font-family: 'Avenir Next Medium';
            }
        }

        &-Discount,
        &-Special {
            color: $default-primary-dark-color;
        }
    }

    &-ProductColorBlock {
        display: flex;
        align-items: center;
        border-top: 1px solid var(--pdp-line-color);
        margin-top: 20px;
        padding: 20px 0;
        font-size: 17px;

        @include desktop() {
            max-width: 550px;
        }
    }

    &-ProductColor {
        width: 22px;
        height: 22px;
        display: inline-block;
        margin: 0 8px;
    }

    &-AvailableItems {
        margin-top: 20px;
        font-size: 17px;
    }
}

.PageWrapper {
    &_isArabic {
        .PDPSummary {
            &-HeaderShare {
                @include desktop() {
                    div::before {
                        left: -60px
                    }
                }
            }

            &-New {
                margin: 0 0 0 4px;
            }

            .Price {
                &-Discount {
                    display: inline-block;
                    margin-right: 4px;
                }
            }
        }
    }
}
