.PhoneInputField {
    &-Phone {
        margin: 46px 10% 10px;
        display: flex;
        height: 60px;

        &Field {
            height: 60px;
            margin-left: 10px;
            width: calc(100% - 10px);
        }

        .Field {
            margin-top: 0;

            &_type_text {
                width: calc(100% - 100px);
            }

            p {
                margin-top: 5px;
            }
        }

        &_isArabic {
            flex-direction: row-reverse;

            .PhoneInputField {
                &-PhoneField {
                    margin-left: unset;
                    margin-right: 10px;
                    text-align: right;
                }
            }

            .Field {
                .FieldSelect {
                    &-Select {
                        padding-left: 15px;
                        padding-right: 40px;
                    }
                }
            }
        }
    }

    .FieldSelect {
        height: 60px;
        width: 100px;

        &-Select {
            height: 60px;
            width: 100px;
            padding-left: 40px;
            padding-right: 10px;
        }

        &::after {
            display: none;
        }
    }
}