.PLPPagesContainer {
  .PLPPages {
    //width: calc(100% - 250px);
    .InlineFilterContainer {
      height: 95px;
      padding: 8px 0px;
      &-InlineSizeCont {
        height: 145px;
      }
      .InlineFilter {
        display: flex;
        flex-direction: column;
        text-align: center;
        background: #f9f9f9;
        &-FilterLabel {
          font-size: 12px;
          margin-top: 5px;
          line-height: 2rem;
          font-weight: 600;
          letter-spacing: 0.18px;
        }
        .PLPFilters{
          &-QuickCategories {
            overflow-x: auto;
            overflow-y: hidden;
            &_isArabic {
              .FieldMultiselect {
                direction: rtl !important;
              }
            }
            @include desktop {
              overflow: hidden;
            }
            .FieldMultiselect {
              direction: ltr;
            }
            .QuickFilter {
              &-List {
                overflow-x: scroll;
                overflow-y: hidden;
              }
            }
          }
        }
      }
    }
    .sort-box {
      display: flex;
      width: 30%;
      background: var(--white-color);
      margin-top: 1px;
      z-index: 2;
      overflow-y: auto;
      border: none;
      top: 40px;
      right: 0px;
      position: absolute;
    }

    .PLPPageFilter {
      align-items: center;
      background-color:#F5F5F5;
      border-radius: 6px;
      display: flex;
      font-size: 12px;
      font-weight: var(--fw-light);
      height: 25px;
      justify-content: space-between;
      letter-spacing: 0px;
      line-height: 12px;
      margin-right: 8px;
      margin-top: 2px;
      padding: 10px;
      text-transform: capitalize;
      z-index: 4;
      .Image {
        img {
          width: 15px !important;
          top: 2px;
        }
      }
      @include tablet() {
        display: none;
      }
      @include mobile() {
        display: none;
      }
    }
    .ProductToolBar {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 14px;
      // height: 50px;
      // position: absolute;
      // top: -74px;
      z-index: 2;

      .ProductSelectedFilters {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        ul {
          height: 100%;
          width: 100%;
          list-style: none;
          flex-wrap: wrap;
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          min-height: 40px;

          li {
            display: inline-flex;
            min-height: 34px;
            font-size: 13px;
            vertical-align: baseline;
            margin: 0 !important;
            padding: 0 !important;
            flex-wrap: wrap;
            &::before {
              content: none;
            }
          }
          button {
            svg {
              height: 10px;
              width: 10px;
              margin-left: 6px;
            }
          }
        }

        .MoreButtonLabel {
          font-family : "Avenir Next";
          min-height: 25px;
          padding: 5px 8px 5px 8px;
          font-weight: 400;
          font-size: 12px;
          color: #0B92D3;
        
        }
      }
    }
  }
}
main {
  &.PLP {
    .ContentWrapper {
      & > .PLPDetails {
        &_isBanner {
          @include mobile() {
            padding-top: 50px !important;
          }
        }
        @include mobile() {
          padding-top: 6px;
        }
      }
    }
  }
}

.moreFiltersNotAvailable {
  width: 100%;
  min-height: 40px;

  p {
    margin-top: 5px;
  }

  &-titleNoMoreFilters {
    font-size: 15px;
    font-weight: 500;
  }

  &-iconNoMoreFilters {
    margin-left: 24px;

    img {
      width: 16px;
      vertical-align: middle;
    }

    &_isArabic {
      margin-right: 24px;
      margin-left: 0px;
    }
  }

  &-detailsNoMoreFilters {
    color: #9B9B9B;
    font-size: 14px;
    margin-left: 10px;

    &_isArabic {
      margin-right: 10px;
    }
  }
}
