.carrrmPayWrapperDiv {
  width: 100%;
  background-color: #ffffff;
}

.carremPayInnerDiv {
  width: fit-content;
  margin: auto;
}

.Seperator3 {
  background-color: #efefef;
  height: 1px;
}

.orTextdiv {
  width: 100%;
  text-align: center;
  background-color: #ffffff;
}

.careemBtnCss {
  border-radius: 0;
}
