.cityAreaAddressSelection {
  @include mobile {
    width: 30%;
    .MyAccountAddressBook {
      &-ContentWrapper {
        &_formContent {
          .MyAccountAddressBook {
            &-backButton {
              position: fixed;
              width: 20px;
              height: 30px;
              top: 27px;
              right: unset;
              left: 10px;
              z-index: 999999999;

              &::before {
                content: "";
                position: absolute;
                left: 5px;
                border: solid $black;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 4px;
                transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
              }

              @include desktop() {
                height: 0;
              }

              &_isArabic {
                top: 35px;
                left: unset;
                right: 10px;
                transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
              }
            }
          }
        }
      }
    }

    .MyAccountAddressPopup {
      width: 100%;
      height: 100vh;
      z-index: 9999;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      // margin-bottom: 100px;
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 65px 10px;
    }
  }

  @include desktop {
    .MyAccountAddressBook {
      &-ContentWrapper {
        &_formContent {
          position: fixed;
          height: 100%;
          width: 100%;
          background: #4a4a4a;
          left: 0;
          top: 0;
          background-color: rgba(0, 0, 0, 0.5);
          z-index: 100;
        }
      }
    }

    .MyAccountAddressPopup {
      width: 542px;
      height: 650px;
      z-index: 100;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 30px;
    }
  }
  .cityAreaDropdown {
    display: flex;
    align-items: center;
    cursor: pointer;

    @include desktop {
      min-width: 105px;
      &::after {
        content: "";
        position: absolute;
        display: block;
        box-sizing: border-box;
        width: 12px;
        height: 12px;
        background: url(../Icons/ChevronDown/icon.svg) no-repeat;
        background-size: 12px;
        right: 0;
        top: 5px;
      }
    }

    @include mobile {
      background: #f5f5f5;
      height: 36px;
      border-radius: 10px;
      padding: 3px;
      margin: 0 3px;

      &::after {
        content: "";
        position: absolute;
        display: block;
        box-sizing: border-box;
        width: 12px;
        height: 12px;
        background: url(../Icons/ChevronDown/icon.svg) no-repeat;
        background-size: 12px;
        right: 5px;
        top: 13px;
      }
    }

    .Image {
      img {
        height: 19px !important;
        width: 15px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 3px;
      }
    }

    .cityAreaText {
      font-family: Avenir Next;
      font-size: 13px;
      font-weight: 500;
      color: #0b92d3;
      width: 75%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
