.PLPPage {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 20px;

    @include mobile() {
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
    }

    .ProductItem {
        font-weight: var(--fw-regular);
        margin: 20px 5px;
        min-width: 0;
        padding-left: 0;
        position: relative;
        text-align: center;

        &::before {
            display: none;
        }

        .Image {
            &-Image {
                object-fit: cover;
            }
        }

        p {
            font-size: 14px;
        }

        &-Brand {
            margin: 5px 0;

            @include desktop() {
                font-size: 16px;
            }
        }

        &-Title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 0;

            @include desktop() {
                margin: 0 20px;
            }
        }

        &:hover {
            @include desktop {
                box-shadow: 0 0 7px #d3d3d3;
            }
        }

        a {
            text-decoration: none;
        }
    }

    .Price {
        position: relative;
        font-weight: var(--fw-demi);
        font-size: 16px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &-Special,
        &-Discount {
            display: none;

            &_discount {
                display: inline;
                color: $default-primary-dark-color;
            }
        }

        &-Base {
            &_discount {
                font-size: 11px;
                font-weight: var(--fw-demi);
                margin-right: 10px;
            }
        }
    }
}

.PageWrapper {
    &_isArabic {
        .PLPPage {
            .Price {
                flex-direction: row-reverse;

                &-Wrapper {
                    display: flex;
                    flex-direction: row-reverse;
                }

                &-Discount {
                    margin-right: 4px;
                }
            }
        }
    }
}
