.PLPPage {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  //   margin: 0 20px;
  grid-gap: 35px 25px;

  @include mobile() {
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  }

  .ProductItem {
    &-Brand {
      text-align: center;
      @include mobile {
        font-size: 12px;
        line-height: 7px;
      }
    }
    &-Title {
      margin: 0 auto;
      text-align: center;
      @include mobile {
        font-size: 11px;
        line-height: 14px;
      }
    }

    .Price {
      justify-content: center;
      @include mobile {
        display: block;
        line-height: 17px;

        &-Wrapper {
          display: block;
          text-align: center;
        }
        &-Discount {
          display: block;
          text-align: center;
        }
        &-Base {
          display: block;
          text-align: center;
        }
        &-Base_discount {
          display: inline;
        }
      }
    }
    .PLPSummary-Colors {
      background-color: #ffffff;
      opacity: 0.8;
      width: 100%;
      bottom: 0;
      position: absolute;
      padding: 4px 0px
    }
    .PLPSummary-Exclusive {
      background-color: #ffffff;
      opacity: 0.8;
      width: 100%;
      bottom: 0;
      padding: 4px 0px;
      position: absolute;
      @include mobile {
        font-size: 12px;
      }
    }
  }
}

.PageWrapper {
  &_isArabic {
    .PLPPage {
      .Price {
        // flex-direction: row-reverse;

        &-Wrapper {
          display: flex;
          flex-direction: row-reverse;
        }

        &-Discount {
          margin-right: 4px;
        }
      }
    }
  }
}
