:root {
    --field-multiselect-border:  #ddd;
}

.FieldMultiselect-OptionListContainer {
    .FieldMultiselect-MobileOptionList {
        .PLPFilterOption {
            width: 100%;
            &-Input {
              z-index: 0;
            }
        }
        li {
            width: 79%;
            margin: 0 7% 0 14%;
        }

        &_isArabic{
            li {
              margin: 0 14% 0 7%;
            }
        }
    }
}

.FieldMultiselect {
    &-MobileOptionButton {
        padding: 0;
        width: 86%;
        margin: 0 7%;
        text-align: left;
        font-size: 13px;
        vertical-align: baseline;
        padding: 0;
        font-weight: normal;
        text-transform: none;
        border-bottom: solid 1px var(--field-multiselect-border);

      &_isArabic {
          text-align: right;

          &::before {
              right: unset;
              left: 0;
          }
      }

      &::before {
          position: absolute;
          content: "";
          right: 0;
          background: url(./icons/minus@2x.png) no-repeat;
          background-size: 20px;
          width: 20px;
          height: 20px;
          display: inline-block;
          font-size: 0;
      }

      &_isClosed {
          &::before {
            background: url(./icons/plus@2x.png) no-repeat;
            background-size: 20px;
          }
      }
    }

    &-FilterButton {
          display: inline-block;
          height: 42px;
          line-height: 42px;
          width: 200px;
          border: solid 1px var(--field-multiselect-border);
          position: relative;
          margin: 10px;
          font-size: 13px;
          letter-spacing: 0.5px;
          line-height: 18px;
          text-align: left;

        &:after {
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            border: solid var(--black-color);
            border-width: 0 1px 1px 0;
            display: inline-block;
            padding: 2px 5px 5px 2px;
            margin: 0 auto;
            transform: rotate(45deg);
            right: 10px;
            top: 13px;
            background: transparent;
        }

        &:focus {
            &::after {
                top: 17px;
                transform: rotate(-135deg);
            }
        }

        &_toggleOptionsList {
            margin-bottom: 0;
            border-bottom: none;
            max-height: 400px;
        }

        &_isArabic {
            text-align: right;

            &:after {
                right: unset;
                left: 10px;
            }
        }

        @include before-desktop {
            display: inline-block;
            height: 40px;
            line-height: 42px;
            width: 100%;
            border: none;
            position: relative;
            margin: 0;
            font-size: 12px;
            letter-spacing: 1px;
            font-weight: normal;
            text-align: left;

            &:after {
                content: none;
            }

            &_toggleOptionsList {
                background: var(--black-color);
                color: var(--white-color);
                font-weight: 600;
            }
        }
    }

    &-OptionListContainer {
        position: absolute;
        display: block;
        width: 200px;
        max-height: 0;
        background: var(--white-color);
        margin-top: 1px;
        z-index: 2;
        overflow-y: auto;
        border: none;
        left: 10px;
        transition: 150ms;

        &_toggleOptionsList {
            border: 1px solid var(--field-multiselect-border);
            border-top: none;
            max-height: 400px;
        }

        li {
              display: inline-flex;
              min-height: 42px;
              width: 100%;
              font-size: 13px;
              vertical-align: baseline;
        
            &::before {
                content: none;
            }
            padding: 0;

            @include before-desktop {
              width: 86%;
            }
          }

      &::-webkit-scrollbar {
          background-color: var(--scrollbar-color);
          width: 7px;
      }

      &::-webkit-scrollbar-thumb {
          background-color: var(--scrollbar-thumb-color);
      }

      @include before-desktop {
          position: fixed;
          top: 50px;
          right: 0;
          left: unset;
          width: 65%;

          &_isArabic {
              left: 0;
              right: unset;
          }

          &_toggleOptionsList {
              border: none;
              max-height: calc(100% - 130px);
          }
      }
    }

    ul {
        list-style-type: none;
    }
}
