:root {
    --dynamic-content-grid-column-count: 1;
}

.DynamicContentGrid {
    padding: 0 31px;

    &-Grid {
        display: grid;
        grid-template-columns: auto;
        grid-column-gap: 10px;
        grid-row-gap: 5px;

        a {
            margin: 0;
        }

        @include after-mobile {
            grid-template-columns: auto auto;
        }
    }

    .Image {
        &-Image {
            object-fit: cover;
        }

        &_ratio_square {
            padding-bottom: 29%;
        }
    }
}
