.HeaderMenu {
    width: 20%;

    &-Button {
        display: block;
        text-transform: none;
        font-size: 10px;
        font-weight: 500;
        letter-spacing: -0.2px;
        line-height: 14px;
        text-align: center;
        color: var(--inactive-text-color);
        height: 40px;
        width: 40px;
        padding: 0;
        margin: 10px auto 0 auto; 
        text-align: center;

        &::before{
            content: "";
            right: 0;
            background: url(./icons/search-solid.svg) no-repeat;
            background-size: 27px;
            width: 27px;
            height: 27px;
            display: inline-block;
            font-size: 0;
            filter: invert(26%) sepia(2%) saturate(21%) hue-rotate(43deg) brightness(90%) contrast(80%);
            
        }

        @include desktop {
            display: none;
        }

        &_isExpanded {
            color: var(--active-text-color);

            &::before{
                filter: invert(43%) sepia(60%) saturate(1535%) hue-rotate(335deg) brightness(107%) contrast(95%);
            }
        }
    }

    @include desktop {
        width: auto;
    }
}