.WelcomeHomePage{
    &-Top{
        &-Logo{
            display: flex;
            img{
                margin: 0 auto;
                width: 270px;
                padding: 36px 0;
            }
        }
    }
    &-MainSection{
        display: flex;
        max-width: var(--container-max-width);
        margin: 0 auto;
        width: var(--main-container-width-dsk);
        justify-content: space-between;
        margin-bottom: 30px;
        @include tablet{
            width: auto;
            max-width: 100%;
            margin-right: 30px;
            margin-left: 30px;
        }
        @include mobile{
            width: 100%;
            margin-right: 0px;
            margin-left: 0px;
            flex-direction: column;
        }
        .WelcomeHomePage-GenderSelection{
            img{
                width: 362px;
                cursor: pointer;
                height: 535px;
                @include tablet{
                    width: 232px;
                    height: 345px;
                }
                @include mobile{
                    width: 100%;
                    height: 157px;
                    object-fit: cover;

                }
            }
            &-Button{
                position: absolute;
                bottom: 30px;
                left: 40px;
                height: 59px;
                width: 276px;
                border-radius: 6px;
                background-color: #FFFFFF;
                @include tablet{
                    height: 46px;
                    width: 180px;
                    left: 26px;
                }
                @include mobile {
                    color: #FFFFFF;
                    font-size: 26px;
                    font-weight: 500;
                    letter-spacing: 1.73px;
                    line-height: 36px;
                    text-align: center;
                    background-color: transparent;
                    bottom: 50px;
                }
            }
        }
    }

    &-Bottom{
        @include desktop{
            display: none;
        }
        @include mobile{
            display: none;
        }
        .FooterMain{
            &-LastColumn{
                text-align: center;
                h4{
                    font-size: 18px;
                    font-weight: 500;
                    letter-spacing: 2px;
                    line-height: 25px;
                    text-align: center;
                }

            }
            &-Nav{
                display: flex;
                .FooterMain-WrapperFirst{
                    display: flex;
                    align-items: center;
                    margin: 0 auto;
                    margin-top: 20px;
                    a{
                        margin-right: 8px;
                        margin-left: 8px;
                    }
                }
            }


        }
    }
    &-StoreSwitcher{
        display: flex;
        @include tablet{
            padding-left: 30px;
        }
        @include desktop{
            display: none;
        }
    }

    &-CountrySwitcher{
        @include desktop{
            display: none;
        }
        .CountrySwitcher{
            padding-left: 40px;
            padding-bottom: 40px;
            @include mobile{
                padding-left: 0px;
            }
            @include tablet{
                padding-left: 0px;
            }
        }
        .StoreSwitcherPopup{
            &-Container{
                @include mobile{
                    right: unset;
                    top: 95px;
                    left: 30px;
                }
                @include tablet{
                    right: unset;
                    top: 165px;
                    left: 30px;
                }

            }
        }
    }

    &-Popup{
        width: auto;
        height: 147px;
        margin-right: 30px;
        margin-left: 30px;
        margin-bottom: 40px;
        padding: 30px;
        border-radius: 12px;
        background-color: #FFFFFF;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
        display: flex;
        &-LanguageSwitcher{
            .Popup-text{
                display: flex;
                align-items: center;

                &-welcome{
                    font-size: 22px;
                    font-weight: 600;
                    letter-spacing: 0;
                    line-height: 30px;
                }
                &-shop{
                    font-size: 15px;
                    letter-spacing: 0;
                    line-height: 20px;
                    text-align: center;
                    margin-left: 5px;
                }
            }
            .LanguageSwitcher{

            }

        }
        &-CountrySwitcher{
            align-self: end;
            margin-bottom: 5px;
            margin-left: 20px;
            .CountrySwitcher{

            }
        }

    }

}