:root {
  --store-credit-link-background: #f3f3f3;
}

.StoreCredit {
  border-radius: 4px;
  border: 1px solid rgba(239, 239, 239, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &-Amount {
    font-weight: var(--fw-demi);
    white-space: nowrap;
    color: rgba(97, 97, 97, 1);
    font-family: Avenir Next;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: start;
    &::before {
      content: " ";
      display: inline;
    }
  }

  &_canApply {
    padding: 8px 12px;
    @include mobile{
      padding: 2px 0;
    }

    .Field {
      margin: 0;
      display: inline-block;
    }

    > label {
      margin-left: 10px;
      vertical-align: top;
      display: inline-block;
      line-height: 22px;
      font-size: 14px;
      cursor: pointer;
    }
  }
}

li.MyAccountTabListItem {
  &_StoreCreditLink {
    padding: 15px 20px;

    @include mobile {
      display: none;
    }

    button {
      min-width: auto;
      min-height: auto;
      height: auto;
      background-color: var(--store-credit-link-background);
      padding: 10px 20px 10px 10px;
      cursor: pointer;
      border-radius: 6px;

      &::after {
        display: none;
      }
    }

    label {
      text-transform: capitalize;
      font-weight: var(--fw-regular);
      cursor: pointer;
      line-height: 20px;
      letter-spacing: 0.5px;

      span {
        font-weight: var(--fw-demi);
      }
    }
  }
}

.StoreCredit-Label{
  font-family: Avenir Next;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: start;
}
