.DynamicContentCountDownTimer {
  .TimerTitle {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 2px;
    font-weight: 500;
    display: flex;
    align-items: center;

    &.AlignCenter {
      justify-content: center;
      &_isArabicStore {
        justify-content: center;
      }
    }

    &.AlignLeft {
      justify-content: left;
      &_isArabicStore {
        justify-content: right;
      }
    }

    &.AlignRight {
      justify-content: right;
      &_isArabicStore {
        justify-content: left;
      }
    }

    .InfoText {
      margin: 0 2px;
      font-size: 13px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 1px;


      &.AlignTextRight {
        order: 1;
      }

      &.AlignTextLeft {
        order: 0;

      }

      &.AlignTextCenter {
        order: 0;

      }
    }
    .timer{
      min-width: 130px;
      display: flex;
      align-items: center;
      .separator{
        color:#939393;
        font-weight:500;
        font-size:14px;
        line-height: 10px;
      }
    }
    
    .Box {
      background-color: #000000;
      color: #ffffff;
      padding: 5px 4px 1px;
      display: inline-block;
      border-radius: 4px;
      margin: 0 4px;
      font-size: 13px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0px;
      b {
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0px;        
      }
    }
  }
}