:root{
    --footer-background-color:#f6f6f6;
    --foter-hyperlink-color: #000;
    --social-icon-background-color: #fff;
}

.FooterMain {
    padding: 50px 15px 20px 15px;
    background: var(--footer-background-color);

    @include before-desktop {
        display: none;
    }

    &-Layout{
        max-width: 1440px;
        margin: auto;
        display: flex;
        justify-content: space-between;

        p {
            letter-spacing: 0;
            margin-bottom: 20px;
        }
    }

    h4 {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: var(--fw-bold);
        letter-spacing: 0;
        line-height: 22px;
        margin-bottom: 6px;
    }

    &-Column{
        min-height: 240px;

        span {
            display: block;
            font-weight: var(--fw-regular);
            font-size: 14px;
        }
    }

    &-Nav {
        letter-spacing: 0;
        line-height: 35px;

        a {
            font-size: 14px;
            font-weight: var(--fw-regular);
            text-decoration: none;
            color: var(--foter-hyperlink-color);
        }

        li::before{
            content: "";
        }

        li {
            padding-left: 0;
            margin-bottom: 0;
        }
    }

    &-WrapperFirst {
        margin-bottom: 45px;
        margin-top: 10px;

        img {
            cursor: pointer;
            display: inline;
            max-height: auto;
            max-width: 135px;
        }
    }

    &-WrapperSecond {
        padding-top: 10px;

        img {
            padding-bottom: 2px;
        }

        span {
            border: 1px solid var(--black-color);
            padding: 5px 0 30px;
            margin: 0 10px;
        }
    }

    &-SocialIcon {
        display: inline-block;
        vertical-align: top;
        padding: 20px;
        background: var(--social-icon-background-color);
        border-radius: 50%;
        float: none;
        width: 60px;
        height: 60px;
        text-align: center;
    }

}
