.MyAccountAddressTable {
    text-align: center;
    width: 100%;
    
.MyAccountAddressCard {
    font-size: 14px;
    transition-duration: 150ms;
    transition-timing-function: ease-in;
    width: 100%;
    height: 100%;
    padding-left: 60px;
    text-align: left;

    &::before,
    &::after {
        content: '';
        position: absolute;
        z-index: 1;
    }

    &::before {
        top: 40%;
        left: 21px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 1px solid var(--border-color);
        background: var(--white);
    }

    &::after {
        opacity: 0;
    }

    &_isSelected {
        border: 1px solid var(--selected-step-color);
        background: var(--white);

        &::after {
            opacity: 1;
            top: 40%;
            left: 21px;
            width: 100%;
            height: 100%;
            background: url('icons/checkmark-circle-active.png') no-repeat;
            background-size: 18px 18px;
            border: none;
            transform: none;
            -webkit-transform: none;
        }

        &::before {
            opacity: 0;
        }  
    }            
    }

    &_isArabic {
        .MyAccountAddressCard {
            padding-right: 60px;
            padding-left: 0;
            text-align: right;
        
            &::before {
                right: 21px;
                width: 10px;
                height: 10px;
            }
        
            &_isSelected {
                &::after {
                    width: 15px;
                }
            }            
        }
    }
}
