.PageWrapper {
  height: 100vh;
  @include desktop {
    display: flex;
    flex-direction: column;
  }
  .HomePage,
  .SearchPage {
    min-height: 500px;
  }

  &-Content {
    flex: 1;
  }

  &_isArabic {
    direction: rtl;
  }
}
