.PageWrapper {
  height: 100vh;
  //   display: flex;
  //   flex-direction: column;
  main,
  > div {
    min-height: 500px;
  }

  &-Content {
    flex: 1;
  }

  &_isArabic {
    direction: rtl;
  }
}
