.CircleItemSliderSubPage{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    @include mobile{
        display: block;
    }
    video{
        margin: 0 auto;
    }
    &-Video{
        display: flex;
    }
    h2{
        font-size: 40px;
        font-weight: 600;
        letter-spacing: -1px;
        line-height: 55px;
        text-transform: capitalize;
        margin-left: 30px;
        @include mobile{
            font-size: 18px;
            font-weight: normal;
            letter-spacing: 1px;
            line-height: unset;
            text-transform: uppercase;
            margin-left: 0px;
            text-align: center;
            margin-bottom: 10px;
        }
    }
    p{
        font-size: 18px;
        margin-left: 30px;
        letter-spacing: 0;
        line-height: 25px;
        @include mobile{
            margin-right: 30px;
            text-align: center;
        }
    }

}