.CircleItemSliderSubPage{
    margin-bottom: 40px;
    video{
        margin: 0 auto;
    }
    &-Video{
        display: flex;
    }
    h2{
        font-size: 18px;
        text-align: center;
    }
    p{
        text-align: center;
        font-size: 15px;
    }

}