.DynamicContentCircleItemSlider {
    // max-height: 500px;
    // overflow: hidden;
    margin-bottom: 30px;
    display: none;
    .CircleSliderWrapper{
        display: flex;
        .CircleSlider{
            margin: 40px;
            width: 100%;
        }

    }
    &-Label {
        display: flex;
        position: absolute;
        bottom: 15rem;
        right: 70%;
        text-transform: uppercase;
        align-items: center;
        vertical-align: center;
    }

    .Slider {
        &-Crumbs {
            position: static;
        }

        &-Crumb {
            width: 9px;
            height: 9px;
            border: 1px solid $black;
            background: $white;

            &_isActive {
                width: 11px;
                height: 11px;
                border: 2px solid $white;
                box-shadow: 0 0 0 1px $black;
                background: $black;
            }
        }
    }

    .Image {
        margin-top: 60px;
        &-Image {
            object-fit: cover;
        }
        img{
            border: 1px solid red;
            padding: 2px;
            border-radius: 50%;
            margin-left: 45px;
        }
    }
    .tns-controls {
        display: flex;
        justify-content: space-between;
        top: 110px;
        button {
            font-size: 38px;
            font-weight: 400;
            color: #515151;
        }
    }
    .tns-ovh{
        margin-right: 40px;
        margin-left: 40px;
    }
    .CircleSliderLabel{
        text-align: center;
        margin-bottom: 10px;
        text-transform: uppercase;
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0 auto;
        margin-top: 10px;
    }



    @include mobile {
        max-height: 700px;
        overflow: none;

        &-Label {
            right: 2rem;
            bottom: 2rem;
            text-decoration: underline;
            background: none !important;
        }

        .Slider {
            &-Wrapper {
                width: 80%;
                margin: 10px;
            }

            &-Crumbs {
                display: none;
            }
        }
    }
}
@media  (max-width: 1024px) {
    .DynamicContentCircleItemSlider {
        .tns-controls {
            display: none
        }
        .Image {
            margin-top: 60px;
            &-Image {
                object-fit: cover;
            }
            img{
                margin-left: 30px;
            }
        }
    }
  }

  @media  (max-width: 760px) {
    .DynamicContentCircleItemSlider {
        display: block;
        .tns-controls {
            display: none
        }
        .Image {
            margin-top: 20px;
            &-Image {
                object-fit: cover;
            }
            img{
                margin-left: 15px;
            }
        }
        .tns-ovh{
            margin: 0;
        }
        .CircleSliderLabel{
            margin-top: 4px;
            font-size: 8px;
            width: 75px;
        }
    }
  }