.SearchSuggestionNew {

    .TrandingTagNew {
        font-family: "Avenir Next";
        font-size: 15px;
        font-weight: 400;
        line-height: 51px;
        letter-spacing: 0px;
        text-align: center;

        ul {
            display: flex;
        }

        li {
            margin-top: 0;
            margin-right: 5px;

            @include mobile {
                margin-right: 5px;
            }

        }

        h2 {
            line-height: 40px;
        }

    }

}


.NewSearchSuggetions {
    font-family: "Avenir Next";
    font-size: 15px;
    font-weight: 400;
    padding: 10px 0px;
    letter-spacing: 0px;
}

.NewRecentSearches {
    padding: 0 20px;

    h3 {
        font-family: "Avenir Next";
        font-size: 18px;
        font-weight: 600;
        line-height: 55px;
        letter-spacing: 0px;
        margin-top: 0;
        margin-bottom: 0;
        color: #606060;
        text-transform: uppercase;
    }

    ul li {
        margin-top: 0px;
    }
}

#newTrendingBrands {
    background-color: #ffffff;
}

.CategoiresAccordianWrapper {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    overflow: hidden;

    @include tablet {
        min-width: 21.224vw;
    }

    @include mobile {
        min-width: 41vw;
    }

    &-CategoiresAccordianCard {
        width: 100%;
        height: 20px;
        margin: 5px 0px;
        background-image: var(--placeholder-image);
        background-size: var(--placeholder-size);
        animation: var(--placeholder-animation);
    }
}
