.CheckoutPayments {
    h2 {
        font-family: 'Avenir Next Demi Bold', sans-serif;
        font-size: 18px;
        text-transform: none;
        line-height: 25px;
    }

    &-MethodDiscription {
        font-family: 'Avenir Next Regular';
        font-size: 15px;
    }
    
    &-DiscountOptionWrapper {
        padding: 50px 36px;

        @include desktop {
            display: none;
        }
    }
}
