main {
    &.HomePage {
        @include desktop {
            padding-top: 156px;
        }
    }
}

.Header {
    @include desktop {
        background-color: var(--white);
        height: auto;
        position: fixed;
        width: 100%;
        z-index: 5;
        top: 0;
    }
}
