:root {
    --header-background-color: #fff;
}

.UrlRewrites {
    @include desktop {
        padding-top: 154px;
    }
}

main {
    &.HomePage {
        @include desktop {
            padding-top: 104px;
        }
    }
}

.Header {
    @include desktop {
        height: 150px;
        position: fixed;
        z-index: 500;
        background-color: var(--header-background-color);
        width: 100vw;
    }
}

