main {
    &.HomePage {
        @include desktop {
            padding-top: 104px;
        }
    }
}

.Header {
    @include desktop {
        background-color: var(--white);
        height: auto;
        position: fixed;
        width: 100%;
        z-index: 5;
        top: 0;
    }
}

.CheckoutHeader {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    max-width: 1120px;
    margin: 0 auto;
    padding: 20px;

    &-BackToShoppingMobile {

        @include desktop {
            display: none;
        }

    ::before {
        content: ' ';
        position: absolute;
        width: 16px;
        height: 22px;
        left: 20px;
        top: 30px;
        background-image: url(./icons/arrow-left-black.svg);
        background-size: 16px;
        background-repeat: no-repeat;
    }

    &_isArabic {
        ::before {
            left: 0;
        }
    }
}

    &-BackToShoppingDesktop {
        @include before-desktop {
            display: none;
    }

        ::before {
            content: ' ';
            position: absolute;
            width: 16px;
            height: 22px;
            left: 6px;
            top: 15px;
            background-image: url(./icons/arrow-left-black.svg);
            background-size: 16px;
            background-repeat: no-repeat;
        }

        &_isArabic {
            ::before {
                transform: rotate(180deg);
                right: 6px;
                top: 9px;
            }
        }

        &_isMobile {
            @include desktop{
                display: none;
            }
        }
    }

        :hover {
            @include desktop {
                ::before {
                    background-image: url(./icons/arrow-left-white.svg);
                }
            }
        }

    .HeaderLogo {
        @include before-desktop {
            display: none;
        }
    }

    &-SecureShipping {
        padding: 10px;
        text-align: right;
        width: 200px;
        background: url(./icons/lock.svg) no-repeat;
        background-size: 26px 30px;
        background-position: 5% 35%;

        @include before-desktop {
            display: none;
        }

        &_isArabic {
            text-align: left;
            background-position: 95% 35%;
        }
    }

    &-SecureShippingLabel {
        font-size: 20px;
        font-weight: var(--fw-demi);
    }
}

