.HoriRow {
  background: rgba(237, 237, 237, 1);
  color: rgba(237, 237, 237, 1);
  border-color: rgba(237, 237, 237, 1);
  block-size: 2px;
}

.HistoryContainer{
  block-size: 600px;
   overflow: scroll;
   .LoaderClass{
    padding-block-start: 100px;
  }
}
