.aboutuswrapper {
    width: 100%;
    max-width: var(--container-max-width);
    width: var(--main-container-width-dsk);
    margin: 0 auto;
    font-family: 'Avenir Next';

    &_isArabic {
        @include tablet {
            margin-right: 3%;
        }
    }

    @include tablet {
        margin-top: 150px;
        margin-left: 3%;
        width: 100%;
    }

    @include mobile {
        margin-top: 150px;
        width: 100%;
    }

    &-heading {
        margin-top: 60px;
        color: #9B9B9B;
        font-size: 56px;
        line-height: 64px;
        font-weight: 600;
        letter-spacing: -1.4px;

        b {
            color: #000000;
            font-weight: 600;
            font-size: 56px;
            line-height: 64px;
            letter-spacing: -1.4px;

            @include tablet {
                font-size: 40px;
                line-height: 56px;

            }

            @include mobile {
                font-size: 40px;
                line-height: 36px;
            }
        }

        @include tablet {
            font-size: 40px;
            line-height: 56px;
        }

        @include mobile {
            font-size: 40px;
            line-height: 36px;
            margin-left: 3%;
        }

        &_isArabic {
            @include mobile {
                margin-right: 3%;
            }
        }

    }

    &-descriptionheading {
        margin-top: 45px;
        font-size: 24px;
        line-height: 33px;
        font-weight: 600;
        text-transform: none;

        &_isArabic {
            @include mobile {
                margin-right: 3%;
            }
        }

        @include mobile {
            margin-left: 3%;
            margin-top: 34px;
            margin-bottom: 0%;
        }
    }

    &-WrapperFirst {
        margin-bottom: 24px;
        margin-top: 20px;

        .Image {
            display: inline-block;
            width: 157px;
            height: 53px;
            min-width: 157px;
            min-height: 53px;
            object-fit: cover;
        }

        .appGallery {
            height: 49px;
        }

        img {
            cursor: pointer;
            max-height: 53px !important;
            max-width: 157px !important;
        }

        &_isArabic {
            @include mobile {
                margin-right: 3%;
            }
        }

        @include mobile {
            margin-left: 3%;
        }
    }

    &-descriptiondetails {
        font-size: 18px;
        line-height: 25px;
        margin: 0 10% 0 0;
        margin-top: 17px;
        text-align: justify;
        font-family: "Avenir Next";

        &_isArabic {
            margin: 0 0 0 10%;

            @include mobile {
                margin-right: 3%;
            }
        }

        b {
            font-weight: 500;
        }

        i {
            font-weight: 500;
        }

        @include mobile {
            margin-left: 3%;
            font-size: 16px;
            line-height: 22px;
        }
    }

    &-flexdiv {
        display: flex;
        justify-content: left;

        @include mobile {
            flex-direction: column-reverse;
        }
    }

    &-description {
        flex: 1;
    }

    &-video {
        flex: 1;
    }

}


.VideoOuterDiv {
    border-radius: 10%;
    margin-top: 60px;
    overflow: hidden;

    @include mobile {
        border-radius: 0;
        margin-top: 24px;
    }

}

.VideoOuterDiv video {
    @include tablet {
        max-height: none;
    }

    @include mobile {
        max-height: none;
    }
}

.brandsWeLove {
    margin-top: 95px;
    text-transform: none;

    @include mobile {
        margin-top: 50px;
    }
}

.experience6thStreet {
    text-transform: none;

    @include mobile {
        margin-top: 40px;
    }
}

.headingAbout {
    @include mobile {
        margin-top: 10px;
    }

    @include tablet {
        margin-top: 0px;
    }

}