.PDPGalleryCrumb {
    display: block;
    min-width: 80px;
    height: auto;
    padding: 0;

    &_isActive {
        background: $black;
    }
    .Image {
        &-Image {
            top: 3px;
        }

    }
}