.MenuGrid {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: fixed;
    width: 100vw;

    &-Content {
        background-color: var(--white);
        height: 390px;
        margin: 0 auto;
        pointer-events: all;
        width: 1410px;

        span, a {
            color: var(--black);
        }

        a {
            font-weight: 500;
        }
    }

    &-Columns {
        display: flex;
        height: 100%;
    }

    &-Column {
        border: 0;
        margin: 20px 0 30px 35px;
        width: 25%;

        &:not(:last-child) {
            border-right: solid 1px var(--grey);
        }

        span {
            text-transform: uppercase;
            width: 100%;
        }

        &-Content {
            display: grid;
            grid-template-columns: auto auto;
            margin-top: 10px;

            a {
                margin: 0;
            }
        }
    }

    @include before-desktop {
        position: relative;
        width: 100%;

        &-Content {
            height: 600px;
            margin: 0;
            overflow-x: hidden;
            overflow-y: scroll;
            width: 100%;
        }

        &-Columns {
            flex-direction: column;

            :last-child {
                margin-right: 0;
            }

            > div {
                margin: 0;
            }
        }

        &-Title {
            display: none;
        }

        &-Column {
            line-height: 30px;
            width: 100%;

            &:not(:last-child) {
                border-right: 0;
            }

            .ViewAll {
                &-Link {
                    font-family: 'Avenir Next Bold', serif;
                    text-align: center;

                    // in case if Promo block will be added
                    //display: none;
                }
            }

            &-Content {
                grid-auto-flow: row;
                grid-template-columns: 1fr 1fr;

                a{
                    line-height: 20px;
                    margin: 10px;
                    text-align: center;

                    // in case if Promo block will be added
                    /*&:not(:nth-child(-n+4)) {
                        display: none;
                    }*/

                    &:first-child {
                        display: none;
                    }

                    &:last-child {
                        margin: 10px;
                    }

                    .Image {
                        margin-left: -20px;

                        &-Image {
                            border-radius: 50%;
                        }
                    }
                }

                &_isArabic {
                    a {
                        .Image {
                            margin-left: 0;
                            margin-right: -20px;
                        }
                    }
                }
            }

            &_isAllShow {
                .ViewAll {
                    &-Link {
                        display: block;
                    }

                    &-Button {
                        display: none;
                    }
                }

                .MenuGrid {
                    &-Column {
                        &-Content {
                            a {
                                &:not(:nth-child(-n+4)) {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @include desktop {
        &-Content {
            left: 13px;

            &_isArabic {
                left: -27px;

                .MenuGrid {
                    &-Column {
                        border-left: solid 1px var(--grey);
                        border-right: 0;
                        margin-left: 0;
                        margin-right: 35px;

                        &:nth-last-child(1) {
                            border-left: 0;
                        }
                    }
                }
            }
        }

        &-Column {
            &-Content {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                height: 290px;
                justify-content: flex-start;
                margin-top: 10px;

                a {
                    div {
                        display: none;
                    }
                }
            }
            .ViewAll {
                &-Link {
                    display: none;
                }

                &-Button {
                    display: none;
                }
            }
        }
    }
}
