.deliveryAddressPopUpWhenNoAddressBlock {
  .deliveryAddressPopUpWhenNoAddressOuterBlock {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #4a4a4a;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;

    .deliveryAddressPopUpWhenNoAddressPopUp {
      height: 300px;
      width: 100%;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      background: #ffffff;
      padding: 10px 20px;
      z-index: 100;
      border-radius: 12px;
    }

    .deliveryAddressPopUpWhenNoAddressInnerBlock {
      .greetingToUser {
        h1 {
          font-family: Avenir Next;
          font-weight: 600;
          line-height: 24px;
          text-align: left;
          font-size: 18px;
        }
      }

      .deliveryNote {
        p {
          font-family: Avenir Next;
          font-size: 14px;
          font-weight: 400;
          color: #616161;
        }
      }

      .addNewAddressButton {
        margin: 25px 0;
        button {
          height: 40px;
          width: 100%;
          line-height: 40px;
          border-radius: 5px;
          font-weight: 700;
          font-size: 14px;
          background: #000000;
          color: #ffffff;
        }
      }

      .partition {
        position: relative;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
      }

      .partition::before,
      .partition::after {
        content: "";
        display: inline-block;
        width: 45%;
        border-top: 1px solid #c8c6c6;
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
      }

      .partition::before {
        left: 0;
      }

      .partition::after {
        right: 0;
      }

      .selectLocation {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 25px 0;

        img {
          width: 25px !important;
          height: 30px !important;
        }

        .selectLocationText {
          font-family: Avenir Next;
          font-size: 14px;
          font-weight: 500;
          color: #0b92d3;
        }
      }
    }
  }
}
