.MenuCategory {
  font-weight: 200;
  padding: 0;

  .DynamicContentBanner {
    display: none;
  }
  &:before {
    content: none;
  }
  @include before-desktop {
    &.IsVisible-true {
      height: 100%;
    }

    background-color: var(--mobile-menu-category-background-color);
    color: var(--default-text-color);
    margin: 10px !important;
    width: 260px;
    height: 80px;
    text-indent: 20px;
    line-height: 80px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    font-family: "Avenir Next Regular";

    .DynamicContentBanner {
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }
  @include desktop {
    padding: 0 40px;
    z-index: 3;

    &.Sale {
      &:before,
      &:after {
        border-color: transparent var(--menu-background-color-desktop) transparent var(--menu-background-color-desktop);
        border-style: solid;
        content: '';
        position: absolute;
      }
      &:before {
        border-width: 0px 0px 40px 20px;
        left: 0px;
      }
      &:after {
        border-width: 40px 20px 0px 0px;
        left: 83.5px;
        top: 0;
      }
      background-color: var(--sales-block-background-color-desktop);
      .DynamicContent {
        &Banner {
          display: none;
        }
        .MenuGrid {
          &-Content {
            background-color: var(--sales-block-background-color-desktop);
            a, span {
              color: var(--light-text-color) !important;
            }
          }
        }
      }
    }

    &:hover {
      height: 40px;
      font-weight: bold;
      cursor: default;
      .MenuGrid {
        background: rgba(0, 0, 0, 0.7);
      }
    }
  }
}
