:root {
    --gold: #ccb47a;
}

.MenuCategory {
    font-weight: 200;
    padding: 0;
    position: unset;

    &:before {
        content: none;
    }

    /*&:nth-child(n+8) {
        display: none;
    }*/

    @include before-desktop {
        color: var(--black);
        font-family: "Avenir Next Thin", serif;
        font-size: 13px;
        font-weight: 600;
        line-height: 45px;
        text-indent: 20px;
        border: solid var(--white);
        border-width: 7px 0;
        text-transform: uppercase;
        //width: 100%;
        overflow-y: scroll;

        &:first-child {
            margin-top: 0;
            color: var(--gold);
        }

        &:nth-last-child(2) {
            color: var(--red);
        }

        &_isVisible {
            background-color: var(--black);
            color: var(--white);

            &-CategoryLabel {
                font-family: 'Avenir Next Bold', serif;
            }

            &:first-child {
                background-color: var(--gold);
                color: var(--white);
            }

            &:nth-last-child(2) {
                background-color: var(--red);
                color: var(--white);

                .ViewAll-Button {
                    a {
                        span {
                            visibility: hidden;

                            &:after {
                                visibility: visible;
                                width: 100%;
                                height: 100px;
                                content: "CATEGORIES ON SALE";
                                margin-left: -50px;
                            }
                        }
                    }
                }
            }
        }

        .DynamicContentBanner {
            background-color: transparent;
            margin: 0;

            a {
                display: flex;
                height: 100%;

                .Image {
                    display: flex;
                    height: auto;
                    padding-bottom: unset;

                    &-Image {
                        position: static;
                    }
                }
            }
        }

        .DynamicContent {
            overflow-y: auto;
            overflow-x: hidden;
            border-left: 1px solid var(--light-gray);
            background-color: $white;
            left: 38%;
            position: absolute;
            top: 0;
            width: 63%;
            z-index: 5;
            // height: 100vh;
            height: 100%;
            // padding: 0 10px 0 10px;
        }

        &_isArabic {
            .DynamicContent {
                left: 0;
                border-left: 0;
                border-right: 1px solid var(--light-gray);
            }
        }
    }

    @include desktop {
        padding: 0 15px;
        z-index: 3;

        &:first-child {
            padding-left: 30px;
        }

        .DynamicContent {
            background-color: var(--white);
            display: flex;
            height: 390px;
            pointer-events: all;
            position: absolute;
            width: 100vw;
            max-width: 1410px;
            left: 30px;

            &:after {
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.7);
                position: fixed;
                left: 0;
                content: ".";
                color: transparent;
                z-index: -1;
                pointer-events: none;
            }

            & > div {
                border-right: 1px solid var(--light-gray);
            }

            .DynamicContentBanner {
                display: block;
                order: 2;
                background-color: transparent;
                border-right: 0;

                .Image {
                    height: 300px;
                    width: 300px;
                }
            }

            .MenuBrands {
                order: 1;

                &-ContentWrapper {
                    a {
                        .Image {
                            display: none;
                        }
                    }
                }
            }
        }

        &:nth-last-child(2) {
            text-transform: uppercase;

            .DynamicContent {
                background-color: var(--red);

                .MenuBrands {
                    &-ContentWrapper {
                        &-Brands {
                            a {
                                color: var(--white);
                            }
                        }
                        span {
                            color: var(--white);
                        }
                    }
                }

                .MenuGrid {
                    &-Content {
                        background-color: var(--red);

                        a, span {
                            color: var(--white);
                        }
                    }
                }
            }
        }

        &-LastCategoryBackground {
            background-color: var(--red);
            color: transparent;
            margin-left: -65px;
            transform: skew(-15deg, 0deg);
            width: 70px;

            &_isArabic {
                background-color: var(--red);
                color: transparent;
                margin-right: -90px;
                transform: skew(-15deg, 0deg);
                width: 85px;
            }
        }

        &:hover {
            cursor: default;
            font-weight: bold;
            height: 40px;
        }

        &_isArabic {
            .DynamicContent {
                left: unset;
                max-width: 1410px;
                right: 30px;

                & > div {
                    border-left: 1px solid var(--light-gray);
                    border-right: 0;

                    &:first-child {
                        border: 0;
                    }
                }
            }

            .DynamicContentBanner {
                margin-left: 0;
                margin-right: 0;
            }

            &:first-child {
                padding-left: 10px;
                padding-right: 30px;
            }
        }
    }
}
