:root {
    --gold: #ccb47a;
}

.MenuCategory {
    font-weight: 200;
    padding: 0;
    position: unset;

    &:before {
        content: none;
    }

    @include before-desktop {
        border: solid var(--white);
        border-width: 7px 0;
        color: var(--black);
        font-family: "Avenir Next Thin", serif;
        font-size: 13px;
        font-weight: 600;
        line-height: 45px;
        overflow-y: scroll;
        text-indent: 20px;
        text-transform: uppercase;

        button {
            transition-duration: 0s;
        }

        &-CategoryButton {
            width: 80%;
            text-align: left;
            margin-left: -20px;
            padding: 0 30px;
        }

        &:first-child {
            color: var(--gold);
            margin-top: 0;
        }

        &:nth-last-child(2) {
            .MenuCategory {
                &-CategoryButton {
                    color: var(--red);
                }
            }
        }

        &_isDefaultCategoryOpen {
            background-color: var(--gold);
            font-family: 'Avenir Next Bold', serif;

            .MenuCategory {
                &-CategoryButton {
                    color: var(--white);
                    font-size: 15px;
                }
            }

            .DynamicContent {
                font-family: "Avenir Next Regular", serif;
            }

            .ViewAll-Button {
                font-family: 'Avenir Next Bold', serif;
            }
        }

        &_isVisible {
            background-color: var(--black);

            .MenuCategory {
                &-CategoryButton {
                    color: var(--white);
                    font-family: 'Avenir Next Bold', serif;
                    font-size: 15px;
                    transition-duration: 0s;
                }
            }

            .DynamicContent {
                font-family: "Avenir Next Regular", serif;
            }

            &:first-child {
                background-color: var(--gold);

                .MenuCategory {
                    &-CategoryButton {
                        color: var(--white);
                    }
                }
            }

            &:nth-last-child(2) {
                .MenuCategory {
                    &-CategoryButton {
                        background-color: var(--red);
                        color: var(--white);
                    }
                }
            }

            .ViewAll-Button {
                font-family: 'Avenir Next Bold', serif;
            }
        }

        .DynamicContentBanner {
            background-color: transparent;
            margin: 10px;

            a {
                display: flex;
                height: 100%;

                .Image {
                    display: flex;
                    height: auto;
                    padding-bottom: unset;

                    &-Image {
                        position: static;
                    }
                }
            }
        }

        .DynamicContent {
            background-color: var(--white);
            border-left: 1px solid var(--light-gray);
            height: 100%;
            left: 38%;
            overflow-x: hidden;
            overflow-y: auto;
            position: absolute;
            top: 0;
            width: 63%;
            z-index: 5;

            .MenuBrands {
                &-ContentWrapper {
                    font-family: 'Avenir Next Bold', serif;
                }
            }
        }

        &_isArabic {
            .MenuCategory-CategoryButton {
                text-align: right;
                margin-right: -20px;
            }

            .DynamicContent {
                border-left: 0;
                border-right: 1px solid var(--light-gray);
                left: 0;
            }

            .ViewAll {
                &-Button {
                    padding-left: 20px;
                }
            }
        }
    }

    @include desktop {
        padding: 0 15px;
        z-index: 3;

        &:nth-child(1) {
            padding-left: 0;
        }

        .DynamicContent {
            background-color: var(--white);
            display: flex;
            height: 390px;
            pointer-events: all;
            position: absolute;
            width: 100vw;
            max-width: 1440px;
            left: 30px;

            &:after {
                background: rgba(0, 0, 0, 0.7);
                content: ' ';
                height: 100%;
                left: 0;
                pointer-events: none;
                position: fixed;
                width: 100%;
                z-index: -1;
            }

            & > div {
                border-right: 1px solid var(--light-gray);
            }

            .DynamicContentBanner {
                background-color: transparent;
                border-right: 0;
                display: block;
                order: 2;

                .Image {
                    height: 300px;
                    width: 300px;
                }
            }

            .MenuBrands {
                order: 1;

                &-ContentWrapper {
                    a {
                        .Image {
                            display: none;
                        }
                    }
                }
            }
        }

        &:last-child {
            text-transform: uppercase;

            .MenuCategory {
                &-CategoryLabel {
                    &::before {
                        background-color: var(--red);
                        color: transparent;
                        transform: skew(-15deg, 0deg) translate(-10px, 0px);
                        content: '';
                        width: calc(100% + 20px);
                        height: 100%;
                        position: absolute;
                        z-index: -1;
                    }
                }

                &_isArabic {
                    .MenuCategory {
                        &-CategoryLabel {
                            &::before {
                                transform: skew(-15deg, 0deg) translate(10px, 0px);
                            }
                        }
                    }
                }
            }

            .DynamicContent {
                background-color: var(--red);

                .MenuBrands {
                    &-ContentWrapper {
                        &-Brands {
                            a {
                                color: var(--white);
                            }
                        }
                        span {
                            color: var(--white);
                        }
                    }
                }

                .MenuGrid {
                    &-Content {
                        background-color: var(--red);

                        a, span {
                            color: var(--white);
                        }
                    }
                }
            }
        }

        &-LastCategoryBackground {
            background-color: var(--red);
            color: transparent;
            margin-left: -65px;
            transform: skew(-15deg, 0deg);
            width: 70px;

            &_isArabic {
                color: transparent;
                margin-right: -90px;
                transform: skew(-15deg, 0deg);
                width: 85px;
            }
        }

        &:hover {
            cursor: default;
            font-weight: bold;
            height: 40px;
        }

        &_isArabic {
            .DynamicContent {
                left: unset;
                max-width: 1410px;
                right: 30px;

                & > div {
                    border-left: 1px solid var(--light-gray);
                    border-right: 0;

                    &:first-child {
                        border: 0;
                    }
                }
            }

            .DynamicContentBanner {
                margin-left: 0;
                margin-right: 0;
            }

            &:first-child {
                padding-left: 10px;
            }
        }
    }
}

.PageWrapper {
    &_isArabic {
        .MenuCategory {
            @include desktop {
                &:last-child {
                    .MenuCategory {
                        &-CategoryLabel {
                            &::before {
                                transform: skew(-15deg, 0deg) translate(10px, 0px);
                            }
                        }
                    }
                }
            }
        }
    }
}