root {
    --black: #000;
    --gray: #f0f0f0;
    --dark-gray: #4a4a4a;
}

.SearchSuggestion {
    height: auto;
    pointer-events: all;
    position: absolute;
    width: inherit;
    margin-left: -16px;
    background-color: var(--white);
    flex-direction: column;
    padding: 0 40px 20px;
    font-weight: var(--fw-regular);
    vertical-align: middle;
    display: block;

    @include before-desktop {
        height: 100vh;
        margin-left: -20px;
    }

    .TrandingTags,
    .TrandingBrands {
        ul {
            display: flex;
        }

        li {
            margin-top: 0;
            margin-right: 5px;
        }
    }

    .TrandingTags {
        margin: 0;
    }


    &-TrandingImg {
        width: 70px;
        height: 70px;
        border: 2px solid rgba(249, 100, 70, 0.3);
        border-radius: 45px;
        margin: 0;
        text-align: center;
        display: flex;
        flex-direction: column;

        img {
            margin-bottom: 10px;
            border-radius: 45px;
        }
    }

    &-TrandingTag {
        margin: 0;
        height: 30px;
        background: var(--gray);
        color: var(--dark-gray);
        width: auto;
        padding: 5px 10px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:first-letter {
            font-weight: var(--fw-regular);
        }
    }

    ul {
        :before {
            content: unset;
        }

        li {
            padding: 0;
            margin-top: 15px;
            font-size: 15px;
            margin-bottom: 0;
        }

        a {
            color: var(--dark-gray);
            width: 100%;
            display: block;

            @include before-desktop {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            span {
                position: absolute;
                right: 0;
            }
        }

        li:first-letter {
            font-weight: var(--fw-bold);
            color: var(--black);
        }
    }

    h2 {
        font-size: 17px;
        text-transform: none;
        margin: 0;

        @include before-desktop {
            color: black;
            text-transform: uppercase;
        }
    }

    div:first-child {
        margin-bottom: 30px;
        margin-top: 15px;
    }

    &_isArabic {
        @include desktop {
            margin-right: 4px;
        }
    }
}
