:root {
  --black: #000;
  --gray: #f0f0f0;
  --link-dark-gray: #4a4a4a;
}

.SearchSuggestion {
  position: absolute;
  width: 100%;

  @include before-desktop {
    height: 100%;
    min-height: 100vh;
    overflow-y: scroll;
    top: 75px;
  }

  &-CloseContainer {
    display: flex;
    justify-content: flex-end;
  }

  &-Content {
    background-color: var(--white);
    display: block;
    flex-direction: column;
    font-weight: var(--fw-regular);
    height: auto;
    margin-left: 4px;
    padding: 20px 40px;
    pointer-events: all;
    position: relative;
    top: 4px;
    width: inherit;
    vertical-align: middle;

    @include before-desktop {
      height: 100%;
      margin-left: 0;
      max-height: 100vh;
      overflow-y: scroll;
      padding: 20px;
      padding-top: 0;
    }

    @include desktop {
      right: 4px;
    }
  }

  @include desktop() {
    position: fixed;
    right: -20px;
    top: 155px;
    width: 720px;
  }

  &-ShadeWrapper {
    position: relative;
    top: 4px;
  }

  &-Recommended {
    margin-top: 15px;
    ul {
      li {
        margin-top: 20px !important;
        a {
          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    @include before-desktop {
      margin-bottom: 155px;
    }
  }
  &-Item {
    margin-top: 15px;
    margin-bottom: 15px;
    ul {
      li {
        margin-top: 20px !important;
        a {
          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    @include before-desktop {
      margin-bottom: 155px;
    }
  }

  .TrandingTags,
  .TopSearches,
  .RecentSearches,
  .TrandingBrands {
    ul {
      display: flex;
    }

    li {
      margin-top: 0;
      margin-right: 5px;
    }

    @include before-desktop() {
      ul {
        overflow-x: auto;
      }
    }

    @include desktop() {
      margin-bottom: 30px;

      ul {
        flex-wrap: wrap;
      }
    }
  }

  .TrandingTags,
  .TopSearches,
  .RecentSearches {
    margin: 0;
    padding: 0 20px;

    ul {
      flex-wrap: wrap;
    }

    li {
      margin-bottom: 10px;
    }

    h2 {
      margin-bottom: 15px;
    }

    @include desktop() {
      padding: 0;
    }
  }
  .TopSearches {
    text-transform: capitalize;
  }

  .TrandingBrands {
    li {
      margin-top: 15px;
      margin-left: 20px;
      margin-bottom: 50px;
    }

    h2 {
      padding: 0 20px;
    }

    @include desktop() {
      li {
        margin-left: 0;
        margin-right: 20px;

        &:first-of-type {
          margin-left: 0;
        }
      }

      h2 {
        padding: 0;
      }
    }
  }

  &-TrandingImg {
    width: 70px;
    height: 70px;
    border: 2px solid rgba(249, 100, 70, 0.3);
    border-radius: 45px;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;

    img {
      margin-bottom: 10px;
      border-radius: 45px;
    }

    @include before-desktop() {
      margin-bottom: 30px;
    }
  }

  &-TrandingTag {
    margin: 0;
    height: 30px;
    background: var(--gray);
    color: var(--link-dark-gray);
    width: auto;
    padding: 5px 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-TopSearches {
    margin: 0;
    height: 30px;
    background: var(--gray);
    color: var(--link-dark-gray);
    width: auto;
    padding: 5px 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
  }

  ul {
    :before {
      content: unset;
    }

    li {
      padding: 0;
      margin-top: 15px;
      font-size: 15px;
      margin-bottom: 0;
    }

    a {
      color: var(--link-dark-gray);
      width: 100%;
      display: block;

      span {
        // position: absolute;
        // right: 0;
      }
      .suggestion-details-box {
        display: flex;
        justify-content: space-between;
        // text-transform: capitalize;
        span {
          position: relative;
        }
      }
    }
  }

  h2 {
    font-size: 17px;
    text-transform: none;
    margin: 0;

    @include before-desktop {
      color: black;
      text-transform: uppercase;
    }
  }

  &-Recommended,
  &-Brands {
    a {
      @include before-desktop {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &_isArabic {
    .SearchSuggestion-Content {
      ul {
        li {
          a {
            span {
              left: 0;
              right: auto;
            }
          }
        }
      }
    }

    @include desktop {
      left: -20px;
    }

    .TrandingBrands {
      li {
        &:first-of-type {
          margin-right: 20px;
        }
      }
    }
  }

  .SearchProduct {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-auto-flow: row dense;
    grid-gap: 10px;
    &-SpecialPriceCon {
      display: block;
      right: unset;
      font-size: 14px;
      font-weight: var(--fw-demi);
      color: var(--color-pure-black);
      letter-spacing: 0;
      line-height: 19px;
    }

    &-Del {
      display: inline-block;

      span {
        position: relative;
        right: unset;
      }
      #price {
        margin-right: 10px;
        font-weight: var(--fw-medium);
      }
    }

    &-PriceWrapper {
      display: inline-block;
      position: relative;
      right: unset;
      span {
        color: #d1490c;
        font-weight: var(--fw-bold);
        position: relative;
        right: unset;
      }
    }
    &-Info {
      grid-column: 2;
      grid-row: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    &-Image {
      width: 80px;
      grid-column: 1;
      grid-row: auto;
    }
    &-Brand {
      font-size: 14px;
      font-weight: var(--fw-demi);
      letter-spacing: 0;
      line-height: 19px;
      color: var(--color-pure-black);
      width: 400px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @include tablet {
        width: 300px;
      }
      @include mobile {
        width: 200px;
      }
    }
    &-ProductName {
      display: -webkit-box;
      position: relative;
      font-size: 13px;
      letter-spacing: 0;
      line-height: 15px;
      width: 400px;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      white-space: unset;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      @include tablet {
        width: 300px;
      }
      @include mobile {
        width: 200px;
      }
    }
    &-Price {
      display: block;
      position: relative;
      font-size: 14px;
      font-weight: var(--fw-demi);
      color: var(--color-pure-black);
      letter-spacing: 0;
      line-height: 19px;
    }
  }
}
.NothingFound {
  width: var(--main-container-width-dsk);
  margin: 0 auto;
}
#price {
  font-size: 14px;
  font-weight: var(--fw-medium);
  color: var(--color-pure-black);
  letter-spacing: 0;
  line-height: 19px;
}

.recommendedForYouSliderBox {
  margin-bottom: 10px;
  .VueProductSlider {
    &-Container {
    width: 100%;
    font-size: 16px;
    margin: 15px 0px;
    font-weight: var(--fw-demi);

    @media (max-width: 1024px) {
      width: 96.005vw;
      margin: 15px 0px 30px 0px;
    }
    @media (max-width: 760px) {
      padding-left: 8px;
    }
    @media (max-width: 1024px) and (min-width: 768px) {
      padding-left: 30px;
    }
    .DragWrapper {
      .Outer {
        margin: 0 auto 15px auto;
      }
    }
  }
    &-VueProductContainer {
      &:nth-last-child(2) {
        margin-right: 7.92px;
      }
      &_isArabic {
        &:nth-child(2) {
          margin-right: 7.92px;
        }
      }
    }
    &-HeaderContainer {
      h4 {
        font-size: 17px;
        text-transform: none;
        margin: 0;
        letter-spacing: .25px;
        font-weight: bold;
      }
    }
  }
}

.wishlistSliderContainer {
  margin-bottom: 10px;
  .VueProductSlider {
    &-SliderContainer {
      padding-bottom: 0 !important;
    }
    &-Container {
    width: 100%;
    font-size: 16px;
    margin: 15px 0px 0;
    font-weight: var(--fw-demi);

    @media (max-width: 1024px) {
      width: 96.005vw;
      margin: 15px 0px 30px 0px;
    }
    @media (max-width: 760px) {
      padding-left: 8px;
    }
    @media (max-width: 1024px) and (min-width: 768px) {
      padding-left: 30px;
    }
    .DragWrapper {
      .Outer {
        margin: 0 auto 15px auto;
      }
    }
  }
    &-VueProductContainer {
      &:nth-last-child(2) {
        margin-right: 7.92px;
      }
      &_isArabic {
        &:nth-child(2) {
          margin-right: 7.92px;
        }
      }
    }
    &-HeaderContainer {
      h4 {
        font-size: 17px;
        text-transform: none;
        margin: 0;
        letter-spacing: .25px;
        font-weight: bold;
      }
    }
  }
}

.cursor-pointer {
  cursor: pointer !important;
}