.MyAccountOrderView {
    &-Status {
        &Failed {
            background: var(--color-failed);
            color: var(--white);
            font-family: var(--avenir-medium-font);
            font-size: 16px;
            font-weight: bold;
            padding: 20px 0;
            text-align: center;
            text-transform: capitalize;
            width: 100%;
        }

        &Title,
        &Date {
            span {
                color: var(--black);
                font-family: var(--avenir-medium-font);
                font-weight: bold;
                text-transform: capitalize;
            }

            &_isSuccess {
                span {
                    color: var(--color-green-cyan);
                }
            }
        }

        p {
            color: var(--color-light-gray);
            margin: 0;
        }
    }

    &-Address,
    &-PaymentType {
        padding: 20px 0;

        &:not(:last-of-type) {
            border-bottom: 2px solid var(--divider-color);
        }

        h3 {
            margin: 0;
            margin-bottom: 10px;
        }

        p {
            margin: 0;
        }
    }

    &-Summary {
        border-bottom: 2px solid var(--divider-color);
        padding: 15px 0;

        &Item {
            &_grandTotal {
                span {
                    &:last-of-type {
                        font-family: var(--avenir-bold-font);
                        font-size: 18px;
                    }
                }
            }
        }

        p {
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin: 0;
        }
    }

    &-Button {
        &Return,
        &Cancel {
            --button-background: var(--white);
            --button-border: var(--black);
            --button-border-width: 2px;
            --button-color: var(--black);
            --button-hover-background: var(--black);
            --button-hover-border: var(--black);
            --button-hover-color: var(--white);
        }
    }
}
