.DynamicContentFullWidthBannerSlider {
    @include mobile {
        a {
            margin-left: -30px;
            padding: 0 5px 0 5px;

            &:first-of-type {
                margin-left: 0;
            }
        }
    }

    .Image {
        height: auto;

        &-Image {
            position: static;

            @include desktop {
                margin-top: 50px;
            }
        }
    }
}