.DynamicContentFullWidthBannerSlider {
    @include mobile {
        a {
            margin-left: -30px;
            padding: 0 30px 0 5px;

            &:first-of-type {
                margin-left: 0;
            }
        }
    }
}