.HeaderMainSection {
    align-items: center;
    display: flex;
    height: 50px;
    max-width: 1440px;
    margin: 0 auto;

    .HeaderGenders {
        display: flex;
        order: 0;
    }

    .HeaderLogo {
        order: 1;
    }

    .HeaderWishlist {
        order: 2;
    }

    .HeaderAccount {
        order: 3;
    }

    .HeaderCart {
        order: 4;

        @include before-desktop {
            top: 5px;
            width: 45px;
            margin: 0 auto;
        }
    }

    .HeaderGenders,
    .HeaderWishlist,
    .HeaderAccount {
        &_isMobile {
            @include before-desktop{
                display: none;
            }
        }
    }



    @include desktop() {
        display: flex;
        height: 84px;
        max-width: 100%;
        flex-direction: unset;

        &_isMobile {
            display: block;
        }
    }

    &_isMobile {
        display: none;
    }

    @include desktop() {
        display: flex;
        height: 84px;
        max-width: 100%;

        &_isMobile {
            display: block;
        }
    }

    &-Cart {
        @include before-desktop {
            top: 5px;
            width: 45px;
            margin: 0 auto;
        }
    }
}
