:root {
  --main-content-padding: 147px;
}

main {
  @include mobile {
    padding-top: var(--main-content-padding);
  }

  @include tablet {
    padding-top: var(--main-content-padding);
  }
}

.HeaderSearchSection {
  .HeaderSearch {
    @include mobile {
      background: $white;
      position: fixed;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: top;
      padding-top: 5px;
      height: 54px;
      top: 49px;
    }

    @include tablet {
      background: $white;
      position: fixed;
      display: flex;
      width: 100%;
      padding-top: 5px;
      justify-content: center;
      align-items: top;
      height: 54px;
      top: 49px;
    }
  }

  .HeaderSearch {
    @include mobile {
      top: 49px;
    }

    @include tablet {
      top: 49px;
    }
  }

  .mobileMegaMenuStyle {
    @include mobile {
      top:5px;
      width : 300px;
      left : 10%;  
    }
  }
}

.HeaderSearchMegaMenuSection {
  .HeaderSearch {
    @include mobile {
      background: $white;
      position: fixed;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: top;
      padding-top: 5px;
      height: 54px;
      top: 49px;
    }

    @include tablet {
      background: $white;
      position: fixed;
      display: flex;
      width: 100%;
      padding-top: 5px;
      justify-content: center;
      align-items: top;
      height: 54px;
      top: 49px;
    }
    .Form {
      border-radius: 10px;
      width: 300px;
      background-color: var(--gray);
      height: 39px;
      display: flex;
      align-items: center;
    }
  }
}

.HeaderSearchMegaMenuSection {
  .HeaderSearch {
    @include mobile {
      background: $white;
      position: fixed;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: top;
      padding-top: 5px;
      height: 54px;
      top: 49px;
    }

    @include tablet {
      background: $white;
      position: fixed;
      display: flex;
      width: 100%;
      padding-top: 5px;
      justify-content: center;
      align-items: top;
      height: 54px;
      top: 49px;
    }
    .Form {
      border-radius: 10px;
      width: 300px;
      background-color: var(--gray);
      height: 39px;
      display: flex;
      align-items: center;
    }
  }
}

.HeaderMainSection {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 200px 1.5fr 1fr 0.5fr;
  height: 50px;
  max-width: var(--container-max-width);
  margin: 0 auto;

  &_isArabic {
    right: -18px;
  }

  .rightContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    @include mobile {
      justify-content: flex-end;
    }
    @include desktop {
      z-index: 3;
    }
  }
  .rightIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include mobile {
    display: flex;
    &_showPLPSearch {
      &[data-visible="true"] {
        z-index: 9999;
      }
    }

    z-index: 9999;
    position: fixed;
    width: 100%;
    background: $white;
    top: 0;

    &[data-visible="false"] {
      visibility: hidden;
      top: -50px;
    }

    &[data-visible="true"] {
      z-index: 94;
    }
  }

  @include tablet {
    z-index: 90;
    position: fixed;
    width: 100%;
    background: $white;
    top: 0;

    &[data-visible="false"] {
      visibility: hidden;
      top: -50px;
    }
  }

  .HeaderGenders {
    display: flex;
    flex: 1;
  }

  .HeaderLogo {
    &_isArabic {
      // padding-left: 21px;
      padding-right: 0px;
    }

    @include mobile {
      position: fixed;
      top: 15px;
      z-index: 1;
    }

    @include tablet {
      position: fixed;
      top: 15px;
      width: 90%;
    }
  }


  .SearchIcon {
    img {
      cursor: pointer;
    }

    &-Button {
      content: "";
      background: url(./icons/search-black.svg) no-repeat;
      background-size: 24px;
      width: 24px;
      height: 24px;
      display: inline-block;
      position: relative;
    }

    @include desktop {
      display: flex;
      border: 1px solid #D1D3D4;
      border-radius: 8px;
      opacity: 1;
      width: 250px;
      height: 40px;
      margin-right: 10px;
    }
  }

  #searchIconImage {
    margin: 8px 12px;
    opacity: 1;
  }

  #search-field {
    width: 178px;
    height: 30px;
    border: none;
    margin-top: 5px !important;
    margin-left: 0px;
    overflow-y: scroll;
    text-transform: initial;
    padding-left: 0px;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    font: normal normal normal 15px/20px 'Avenir Next';
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  .clear-button {
    img {
      width: 12px !important;
      height: 12px;
      margin-top: 15px;
    }

    opacity: 1;
    cursor: pointer;
  }

  .CategoryTitle {
    @include mobile {
      font-size: 12px;
      padding-left: 15px;
      padding-right: 15px;
      top: 0;
      width: 70%;
      margin-left: 15%;
      height: 40px;
      line-height: 40px;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &_isArabic {
        margin-right: 15%;
        margin-left: unset;
      }

      &_isPDP {
        top: 5px;
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
    }

    @include tablet {
      font-size: 12px;
      padding-left: 15px;
      padding-right: 15px;
      top: 0;
      width: 70%;
      margin-left: 15%;
      height: 40px;
      line-height: 40px;

      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &_isArabic {
        margin-right: 15%;
        margin-left: unset;
      }
    }

    @include after-mobile {
      display: none;
    }
  }

  .BackArrow {
    height: 40px;
    width: 40px;
    border-radius: 20px;

    @include mobile {
      height: 30px;
    }

    position: fixed;
    top: 11px;
    left: 15px;

    background: $white;

    &_isArabic {
      right: 15px;
      left: unset;

      .BackArrow {
        &-Button {
          right: 5px;
          left: unset;

          &::before {
            right: 5px;
            left: unset;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
          }
        }
      }
    }

    &-Button {
      top: 0;
      left: 5px;
      background-size: 30px;
      width: 30px;
      height: 30px;
      padding: 0;

      p {
        display: none;
      }

      &::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 5px;
        border: solid $black;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 4px;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
    }

    @include after-mobile {
      display: none;
    }
  }

  .HeaderWishlist {
    height: 25px;
  }

  .HeaderCart {

    @include before-desktop {
      top: 5px;
      width: 45px;
      margin: 0 auto;

      @include mobile {
        position: fixed;
        top: 14px;
        right: 20px;

        background: $white;
        height: 30px;
        width: 30px;
        border-radius: 20px;

        &-Button {
          left: 5px;
          background-size: 24px;
          width: 24px;
          height: 24px;
        }

        &-Count {
          top: 2px;
          right: -2px;
        }
        &_isArabic {
          right: unset;
          left: 20px;
          .HeaderCart {
            margin-left: 0 !important;
            &-Button {
              right: 5px;
              left: unset;
            }
          }
        }
      }
    }

    @include tablet {
      position: fixed;
      top: 14px;
      right: 20px;

      background: $white;
      height: 40px;
      width: 30px;
      border-radius: 20px;

      &-Button {
        right: 5px;
        background-size: 24px;
        width: 24px;
        height: 24px;
      }

      &-Count {
        top: 0px;
        right: -5px;
      }

      &_isArabic {
        right: unset;
        left: 20px;

        .HeaderCart {
          &-Button {
            right: 5px;
            left: unset;
          }
        }
      }
    }
  }

  &_showPLPSearch {
    .HeaderGenders {
      @include mobile {
        &_isMobile {
          top: 7px !important;
          flex-direction: row;
          justify-content: start !important;
          width: 65% !important;
          overflow: scroll;
          z-index: 999;
        }
      }
    }
  }
  
  .moveUpGenders {
    @include mobile {
      top: 48px;
      background-color: #ffffff;
      padding-top: 10px;
      padding-bottom: 18px;
    }
    @include tablet {
      top: 50px;
    }
  }
  .moveDownGenders {
    @include mobile {
      top: 100px;
      background-color: #ffffff;
      padding-top: 11px;
      padding-bottom: 18px;
    }
    @include tablet {
      top: 100px;
    }
  }
  .HeaderGenders {
    @include mobile {
      &_isMobile {
        display: flex;
        background: $white;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 18px;
        align-items: center;
        margin-top: 0px;
        position: fixed;
        justify-content: center;
      }

      .GenderButton-Container {
        display: flex;
        justify-content: center;
        min-width: 14%;

        &_isArabic {
          min-width: 14%;
        }

    .GenderButton-Button {
          padding: 0 0px;
        }
      }
    }

    @include tablet {
      &_isMobile {
        display: flex;
        background: $white;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 18px;
        align-items: center;
        margin-top: 0px;
        position: fixed;
        justify-content: center;
      }

      .GenderButton-Container {
        display: flex;
        justify-content: center;

        .GenderButton-Button {
          padding: 0;
          height: 20px;
        }
      }
    }
  }

  .HeaderWishlist,
  .HeaderAccount {
    label {
      span {
        display: none;
      }
    }

    &_isMobile {
      @include before-desktop {
        display: none;
      }
    }
  }

  @include desktop() {
    height: 84px;
    flex-direction: unset;
    padding: 0;
    width: var(--main-container-width-dsk);

    &_isMobile {
      display: block;
    }
  }

  .DesktopSearch {
    position: fixed;
    top: 115px;
    background: #f6f6f6;
    width: 100%;
    height: 40px;
    left: 0;
    z-index: 10;

    .HeaderSearch {
      position: relative;
      width: var(--main-container-width-dsk);
      max-width: var(--container-max-width);
      height: 40px;
      top: 0;
      border-radius: 0;
      margin-left: auto;
      margin-right: auto;
      background: #f6f6f6;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #f6f6f6;

      &-Clear {
        padding-right: 0px;
        padding-left: 0px;
        width: 15px;
      }

      .Form {
        width: 100%;
        display: flex;
        align-items: center;
      }

      .Field {
        input {
          padding-left: 35px !important;
        }
      }

      &-Clear {
        display: flex;
      }

      &-SubmitBtn {
        left: 0;
        right: 0;
      }
    }

    .SearchSuggestion {
      width: 100%;
      left: 0;
      right: 0;

      &-Shade {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        position: fixed;
        left: 0;
        content: ".";
        color: transparent;
        z-index: -1;
        pointer-events: none;
      }

      &-Content {
        margin-left: 0;
        opacity: 1;
        max-height: 400px;
        overflow-y: auto;
        right: 0;

        &>div {
          max-width: var(--container-max-width);
          width: var(--main-container-width-dsk);
          margin-left: auto;
          margin-right: auto;
          padding: 0 35px;
        }
      }
    }
  }
}

.SearchIcon {
  @include mobile {
    margin-left: 216px;
    top: 4px;

    &_isArabic {
      margin-left: 0;
      margin-right: 216px !important;
    }
  }

  #searchIconImage {
    width: 24px;
    opacity: 1;
    margin-left: 12px;
    margin-right: 10px;

    &_isArabic {
      margin-left: 0px;
    }
  }
}

#overlay-sections {
  margin-top: 4px;
}

.HeaderSearchSection {
  @include mobile {
    &_isPDP {
      .HeaderSearch {
        display: none;
      }
    }

    z-index: 95;
  }
}

.MegaMenuHeaderSectionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 95;

  .megaMenuHeaderSearchContainer {
    .HeaderSearchSection {
      .HeaderSearch {
        width: 300px;
        height: 39px;
        top: 0px;
      }
    }
  }
  .megaMenuBackArrow {
    height : 30px;
    .BackArrow {
      height: 40px;
      width: 40px;
      border-radius: 20px;
  
      @include mobile {
        height: 30px;
      }
  
      position: fixed;
      top: 11px;
      left: 15px;
  
      background: $white;
  
      &_isArabic {
        right: 15px;
        left: unset;
  
        .BackArrow {
          &-Button {
            right: 5px;
            left: unset;
  
            &::before {
              right: 5px;
              left: unset;
              transform: rotate(-45deg);
              -webkit-transform: rotate(-45deg);
            }
          }
        }
      }
  
      &-Button {
        top: 0;
        left: 5px;
        background-size: 30px;
        width: 30px;
        height: 30px;
        padding: 0;
  
        p {
          display: none;
        }
  
        &::before {
          content: "";
          position: absolute;
          top: 10px;
          left: 5px;
          border: solid $black;
          border-width: 0 2px 2px 0;
          display: inline-block;
          padding: 4px;
          transform: rotate(135deg);
          -webkit-transform: rotate(135deg);
        }
      }
  
      @include after-mobile {
        display: none;
      }
    }
  }
}