.PhoneCountryCodeField {
    width: 80px;
    margin-top: -18px;

    .CountryMiniFlag-Container {
        margin-bottom: -55px;
        margin-left: 12px;
        z-index: 1;

        @include desktop() {
            margin-bottom: -53px;
        }
    }
    input {
        padding-left: 35px;
        padding-right: 0;
    }
}
