.ProductItem {
    padding-left: 0;
    margin: 20px 10px;
    font-family: "Avenir Next Regular";
    text-align: center;
    position: relative;
    min-width: 0;

    &::before {
        display: none;
    }

    .Image {
        &-Image {
            object-fit: cover;
        }
    }

    p {
        font-size: 14px;
    }

    &-Brand {
        margin: 5px 0;
    }
    &-Title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 0;
    }

}