.HeaderGenders {
  display: flex;
  justify-content: center;
  
  @include before-desktop {
    display: none;
   @include desktop{
    margin-top: -30px;
   }

    .GenderButton {
      &-Button {
        font-size: 11px;
        letter-spacing: 0.5px;
        line-height: 16px;
        &_isCurrentGender {
          font-weight: var(--fw-bold);
        }
      }
    }
  }
  .GenderButton {
    &-Button {
      height: auto;
      &_isCurrentGender {
        font-weight: var(--fw-bold);
        border-bottom: 2px solid;
        @include mobile {
          border-bottom: 1px solid;
        }
      }
    }
  }

  &_isArabic {
    .GenderButton {
      &-Container {
        &:not(:last-child) {
          @include desktop {
            border-right: 0;
          }
        }
      }
    }
  }
}

.mobileMegaMenuHeaderGender {
  @include mobile {
    width: 100%;
    justify-content: space-evenly;
    top: 45px !important;
    height: auto;
    border-bottom: 0.6px solid darkgray;
    padding-bottom: 12px !important;
    padding-top: 20px !important;
    .GenderButton-Button {
      padding-bottom:24px !important;
      font-family: 'Avenir Next';
      font-weight: 400;
      font-size: 15px;
      color:#00000066;
  
      &_isCurrentGender {
        border-bottom: 3px solid black !important;
        border-radius: 3px;
        font-weight: 700;
        color: #000000;
      }
    }
  }
}
