:root {
    --border-color: #000;
}
.HeaderGenders {
    display: flex;

    @include before-desktop {
        display: none;
        margin-top: -30px;
    }

    &_isArabic {
        .GenderButton {
            &-Container {
                &:not(:last-child) {
                    border-left: 1px solid var(--border-color);
                    border-right: 0;
                }
            }
        }
    }
}
