.HeaderGenders {
  display: flex;

  @include before-desktop {
    display: none;
   @include desktop{
    margin-top: -30px;
   }

    .GenderButton {
      &-Button {
        font-weight: var(--fw-thin);

        &_isCurrentGender {
          font-weight: var(--fw-bold);
        }
      }
    }
  }
  .GenderButton {
    &-Button {
      &_isCurrentGender {
        font-weight: var(--fw-bold);
        border-bottom: 2px solid;
      }
    }
  }

  &_isArabic {
    .GenderButton {
      &-Container {
        &:not(:last-child) {
          @include desktop {
            border-right: 0;
          }
        }
      }
    }
  }
}
