.LanguageSwitcher {
    @media (max-width: 1024px) {
        display: none;
    }

    .Field {
        display: none;
    }

    button {
        font-family: 'Avenir Next Ultra Light';
        font-size: 12px;
        height: auto;
        letter-spacing: 1px;
        textg-transform: capitalize;
    }
}
