.PDPGallery {
    display: grid;
    grid-template-columns: 1fr 6fr;

    &-Crumbs {
        display: none;
        @include desktop {
            display: block;
        } 
    }

    .Slider-Wrapper > * {
        height: 0;
    }

    .Crumbs {
        margin-left: 10px;
    }

    .Slider {
        position: relative;
        min-width: 0;
        margin: 0 10px;
    }

    .Image {
        &-Image {
            object-fit: cover;
        }
    }

    button {
        height: auto;
    }
}
