:root {
  --crumb-background-color: #9b9b9b;
}

// @mixin element-color($color) {
//   background: url('data:image/svg+xml, <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_442_13702)"><path d="M6.23917 2.9884L1.43919 0.288411C1.34619 0.236212 1.23279 0.237412 1.14099 0.290811C1.04859 0.344811 0.992188 0.443211 0.992188 0.550011V5.94999C0.992188 6.05679 1.04859 6.15519 1.14099 6.20919C1.18779 6.23619 1.23999 6.24999 1.29219 6.24999C1.34259 6.24999 1.39359 6.23739 1.43919 6.21159L6.23917 3.5116C6.33337 3.4582 6.39217 3.3586 6.39217 3.25C6.39217 3.1414 6.33337 3.0418 6.23917 2.9884Z" fill="#{$color}"/></g><defs><clipPath id="clip0_442_13702"><rect width="6" height="6" fill="white" transform="translate(0.692383 0.25)"/></clipPath></defs></svg>');
//   // background-image: url('data:image/svg+xml;utf8,<svg ...><g stroke="#{$color}" ... /></g></svg>');
// }


.PDPGallery {
  --gallery-crumbs-height: auto;
  height: auto;
  display: block;
  // margin-top: 11px;
  @include desktop {
    display: grid;
    grid-template-columns: 1fr 6fr;
    margin-top: 0;
  }
  &-Crumbs {
    display: none;
    height: var(--gallery-crumbs-height) !important;
    @include desktop {
      display: block;
    }
  }

  .BackArrow {
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: 60px;
    width: 60px;
    z-index: 1;
    background: transparent;

    &_isArabic {
      right: 1rem;
      left: 1rem;

      .BackArrow {
        &-Button {
          right: 5px;
          left: unset;

          &::before {
            right: 5px;
            left: unset;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
          }
        }
        &-HomeIcon {
          // right: 5px;
          left: unset;
        }
      }
    }

    &-Button {
      top: 0;
      left: 5px;
      background-size: 30px;
      width: 30px;
      height: 30px;
      padding: 0;
      p {
        display: none;
      }
      &::before {
        content: '';
        position: absolute;
        left: 5px;
        border: solid #000000;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 4px;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
    }
    &-HomeIcon {
      top: 15px;
      background-size: 30px;
      width: 30px;
      height: 30px;
      padding: 0;
    }

    @include after-mobile {
      display: none;
    }
  }
  .Slider-Wrapper > * {
    @include desktop {
      // width: 100% !important;
      // height: auto !important;
    }
  }
  .Slider-Wrapper {
    align-items: unset;
  }
  .SliderVertical {
    height: 443px;
    overflow-y: hidden;
  }
  .Crumbs {
    margin-left: 10px;
  }
  .Slider {
    position: relative;
    min-width: 0;
    margin: 0px;
    direction: ltr;
    @include desktop {
      // width: 76.93px;
      // margin-left: 8px;
    }
    &-Crumb {
      background: var(--crumb-background-color);
      border: none;
      width: 5px;
      height: 5px;
      &_isActive {
        background: $black;
        width: 7px;
        height: 7px;
      }
    }
    &-Crumbs {
      height: 7px;
      grid-gap: 5px;
      justify-content: left;
      padding: 0px 20px;

    }
  }

  .Image {
    &-Image {
      position: unset !important;
    }
    &_ratio_square {
      padding: unset !important;
    }
  }

  .OverlayIcons {
    @include desktop {
      display: none;
    }
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 9.5rem;
    background-color: #ffffff;
    z-index: 1;
    opacity: 0.7;
    border-radius: 19.5px;
    padding: 1px 0 1px 0px;

    &_isArabic {
      right: auto;
      left: 1rem;
    }

    .HeaderCart {
      width: 100%;
      height: 2.25rem;
      display: flex;
      background: #ffffff;
      border-radius: 50%;
      justify-content: center;
      margin-top: 6px;
      margin-bottom: 4px;
      @include mobile() {
        align-items: center;
        margin-top: 8px;
        margin-bottom: 4px;
      }

      &-Button {
        top: 0;
        background-size: 2.25rem;
        background-position: top;
      }
      &-Count {
        top: 1px;
        right: 3px;
        @include mobile {
          top: 4.5px;
          right: 10px;
        }
      }
    }

    .WishlistIcon {
      top: initial;
      right: initial;
      width: 100%;
      background-position: top;
      margin-top: 4px &-Icon {
        background-position: top;
      }
      @include mobile {
        margin-top: 4px;
      }
    }
    .ShareIcon {
      height: 3rem;
      display: flex;
      align-items: center;
      background: #fff;
      border-radius: 50%;
      position: absolute;
      justify-content: center;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      margin-top: 4px;
    }
    .SearchIcon {
      height: 3rem;
      display: flex;
      align-items: center;
      background: #fff;
      border-radius: 50%;
      position: absolute;
      justify-content: center;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      margin-top: 4px;
    }
    .MobileShare{
      @include desktop {
        display: none;
      }
      top: 4rem;
    }
  }

  button {
    height: 100%;
    width: 100%;
    padding: 0;
    @include desktop {
      height: auto;
    }
  }

 
  
}

.PDP {
  .PDPMainSection {
    .PDPGallery {
      &-OverlayButton {
        height: fit-content;
        .Image_imageStatus_2 {
          display: flex;
          height: 400px !important;
        }
        @include desktop {
          margin-left: 5px;
          &_isArabic {
            margin-left: 0;
            margin-right: 5px;
          }
        }
      }
      &-VideoButtonsContainer {
        margin: 15px 0 0 0;
      }
    }
  }

  &._newDesign{
    .PDPGallery{
      margin-bottom: 15px;
      .Slider-Crumbs{
        grid-gap: 6px;
      }
    }
    .BackArrow{
      top: 15px;
    }
    .OverlayIcons{
      top: 20px;
    }

    .Slider{
      &-Wrapper{
        margin-bottom: 10px;
      }
      &-Crumbs{
        justify-content: center;
        bottom: 0;
      }
      &-Video{
        
        .Slider{
          &-Crumb{
            
            background: url(./icons/play.svg);
            width: 7px;
            height: 7px;
            background-size:contain;
            background-position: center;
            background-repeat: no-repeat;
            border: none;
            border-radius: 100%;
            &_isActive{
              background: url(./icons/play-active.svg);
              height: 8px;
              width: 8px;
              background-size:contain;
              background-position: center;
              background-repeat: no-repeat;
              
            }
          }
  
        }
      }
    }
  }
}

