.PDPGallery {
    display: grid;
    grid-template-columns: 1fr 6fr;
    .Slider-Wrapper > * {
        height: 0;
    }
    .Crumbs {
        margin-left: 10px;
    }
    .Slider {
        position: relative;
        min-width: 0;
        margin: 0 10px;

        &_isCrumbs {
            width: 85px;
        }

        &-Wrapper{
            &_isCrumbs {
                flex-direction: column;
            }
        }
    }
    .Image {
        &-Image {
            object-fit: cover;
        }
    }

    button {
        height: auto;
    }
}