.MyAccount {
    padding-top: 60px;

    &-Wrapper {
        @include desktop {
            display: flex;
        }
    }

    &-Heading {
        @include before-desktop {
            display: none;
            @include mobile {
                display: none;
            }
        }
    }

    &-TabContent {
        @include after-mobile {
            padding-left: 105px;
            width: 100%;
        }

        @include desktop {
            width: 100%;
        }

        &_isArabic {
            @include after-mobile {
                padding-left: 0;
                padding-right: 105px;
            }
        }
    }

    .FieldForm-Fields {
        .Field {
            @include desktop{
                margin: 10px 10px 20px 0;
            }
        }
    }
}

.MyAccountTabListItem {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid var(--lightest-gray);

    &:first-child {
        border-bottom: 0;
    }

    &-Button {
        font-weight: var(--fw-demi);
        letter-spacing: .55px;
        padding-left: 40px;

        &:before {
            left: 0;
            top: 14px;
            background-repeat: no-repeat;
            position: absolute;
            background-size: 20px 20px;
            width: 40px;
            height: 40px;
            content: "";
            display: inline-block;
        }

        &_tabImageId {
            &_club-apparel {
                &:before {
                    background-image: url(./icons/apparel.png);
                }
            }

            &_dashboard {
                &:before {
                    background-image: url(./icons/dashboard.png);
                }
            }

            &_my-orders {
                &:before {
                    background-image: url(./icons/history.svg);
                }
            }

            &_return-item {
                &:before {
                    background-image: url(./icons/return.svg);
                }
            }

            &_my-wishlist {
                &:before {
                    background-image: url(./icons/wishlist.png);
                }
            }

            &_address-book {
                &:before {
                    background-image: url(./icons/address.png);
                }
            }
        }
    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        button {
            &:before {
                background-image: url(./icons/logout.svg);
            }
        }
    }

    &_isActive,
    &:hover {
        --text-shadow: none;

        button {
            font-weight: var(--fw-bold);
            letter-spacing: .3px;
        }
    }
}

.MyAccount {
    &-Wrapper {
        &_isArabic {
            .MyAccountTabListItem {
                button {
                    text-align: right;
                    padding-right: 50px;
                    padding-left: 0;

                    &:before {
                        left: unset;
                        right: -5px;
                    }

                    &:after {
                        transform: rotate(-135deg);
                        right: unset;
                        left: 0;
                    }
                }

                &:first-child {
                    button {
                        padding: 10px;
                    }
                }
            }
        }
    }
}

@include before-desktop {
    .MyAccountOverlay-Close {
        display: block;
    }

    #privacy-link {
        font-weight: var(--fw-bold);
        text-decoration: underline;
    }

    .MyAccountTabList {
        width: 100%;
    }

    .MyAccountTabListItem {
        font-weight: var(--fw-demi);

        &_isActive {
            display: block;
        }

        &_isActive,
        &:hover {
            --border-width: 2px !important;
            font-weight: var(--fw-bold);
        }
    }

    .ExpandableContent-Content {
        opacity: 1;
        overflow: visible;
    }

    .ExpandableContent-Button {
        display: none;
    }

    .Hidden {
        display: none;
    }

    .Active {
        display: block;
        width: 100%;
    }

    .Cross-button {
        width: 16px;
        height: 16px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .TermsAndPrivacy {
        width: 100%;
        position: fixed;
        bottom: 83px;
        background-color: var(--white);
    }

    .MyAccountTabListItem-Button {
        width: 100%;
    }
}
