.MyAccount {
    padding-top: 60px;

    &-Wrapper {
        @include desktop {
            display: flex;
        }
    }

    &-Heading {
        @include before-desktop {
            display: none;
            @include mobile {
                display: none;
            }
        }
    }

    &-TabContent {
        @include after-mobile {
            padding: 0 105px;
            width: 100%;
        }

        @include desktop {
            width: 70%;
        }
    }

    .FieldForm-Fields {
        .Field {
            @include desktop{
                margin: 10px 10px 20px 0;
            }
        }
    }
}

.MyAccountTabListItem {
    &-Button {
        font-weight: var(--fw-demi);
        letter-spacing: .55px;
    }

    &_isActive,
    &:hover {
        --text-shadow: none;

        button {
            font-weight: var(--fw-bold);
            letter-spacing: .3px;
        }
    }

}

@include before-desktop {
    .MyAccountOverlay-Close {
        display: block;
    }

    #privacy-link {
        font-weight: var(--fw-bold);
        text-decoration: underline;
    }

    .MyAccountTabList {
        width: 100%;
    }

    .MyAccountTabListItem {
        font-weight: var(--fw-demi);

        &_isActive {
            display: block;
        }

        &_isActive,
        &:hover {
            --border-width: 2px !important;
            font-weight: var(--fw-bold);
        }
    }

    .ExpandableContent-Content {
        opacity: 1;
        overflow: visible;
    }

    .ExpandableContent-Button {
        display: none;
    }

    .Hidden {
        display: none;
    }

    .Active {
        display: block;
        width: 100%;
    }

    .Cross-button {
        width: 16px;
        height: 16px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .TermsAndPrivacy {
        width: 100%;
        position: fixed;
        bottom: 83px;
        background-color: var(--white);
    }

    .MyAccountTabListItem-Button {
        width: 100%;
    }
}
