.MyAccount {
  padding-top: 30px;
  width: var(--main-container-width-dsk);
  margin-inline: auto;
  margin-left: auto;
  margin-right: auto;
  @include mobile {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 80px;
  }

  &-Wrapper {
    @include desktop {
      display: flex;
    }
  }

  &-HeadingBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include before-desktop {
      display: none;
      @include mobile {
        display: none;
      }
    }
  }

  &-Heading {
    @include before-desktop {
      display: none;
      @include mobile {
        display: none;
      }
    }
  }

  &-ReturnButton {
    margin: 0 5px;
    border: 1px solid var(--black);
    border-radius: 5px;
    font-family: var(--avenir-regular-font);
    font-size: 14px;
    font-weight: var(--fw-normal);
    height: auto;
    padding: 10px;
    text-transform: none;
  }

  &-TabContent {
    @include after-mobile {
      //   padding-left: 105px;
      width: 100%;
    }

    @include desktop {
      width: 100%;
      margin-left: 50px;
    }

    &_isArabic {
      @include after-mobile {
        padding-left: 0;
        padding-right: 50px;
        margin-left: 0px;
      }
    }
  }

  .FieldForm-Fields {
    .Field {
      @include desktop {
        margin: 10px 10px 20px 0;
      }
    }
  }
}

.MyAccountTabListItem {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--lightest-gray);

  &:first-child {
    border-bottom: 0;
  }

  &-Button {
    font-weight: var(--fw-demi);
    letter-spacing: 0.55px;
    padding-left: 40px;
    font-size: 13px;

    &:before {
      left: 0;
      top: 14px;
      background-repeat: no-repeat;
      position: absolute;
      background-size: 20px 20px;
      width: 40px;
      height: 40px;
      content: '';
      display: inline-block;
    }

    &_tabImageId {
      &_club-apparel {
        &:before {
          background-image: url(./icons/apparel.png);
        }
      }

      &_dashboard {
        &:before {
          background-image: url(./icons/dashboard.png);
        }
      }

      &_my-orders {
        &:before {
          background-image: url(./icons/history.svg);
        }
      }

      &_return-item {
        &:before {
          background-image: url(./icons/return.svg);
        }
      }

      &_my-wishlist {
        &:before {
          background-image: url(./icons/wishlist.png);
        }
      }

      &_address-book {
        &:before {
          background-image: url(./icons/address.png);
        }
      }
      &_contact-help {
        &:before {
          background-image: url(./icons/contact-help.png);
        }
      }
    }
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    button {
      &:before {
        background-image: url(./icons/logout.svg);
      }
    }
  }

  &_isActive,
  &:hover {
    --text-shadow: none;

    button {
      font-weight: var(--fw-bold);
      letter-spacing: 0.3px;
    }
  }
}

.MyAccount {
  &-Wrapper {
    &_isArabic {
      .MyAccountTabListItem {
        button {
          text-align: right;
          padding-right: 50px;
          padding-left: 0;

          &:before {
            left: unset;
            right: -5px;
          }

          &:after {
            transform: rotate(-135deg);
            right: unset;
            left: 0;
          }
        }

        &:first-child {
          button {
            padding: 10px;
          }
        }
      }
    }
  }
}

.MyAccountTabList {
  @include after-mobile {
    padding: 0;
  }
}

@include before-desktop {
  .MyAccountOverlay-Close {
    display: block;
  }

  #privacy-link {
    font-weight: var(--fw-bold);
    text-decoration: underline;
  }

  .MyAccountTabList {
    width: 100%;
  }

  .MyAccountTabListItem {
    font-weight: var(--fw-demi);

    &_isActive {
      display: block;
    }

    &_isActive,
    &:hover {
      --border-width: 2px !important;
      font-weight: var(--fw-bold);
    }
  }

  .ExpandableContent-Content {
    opacity: 1;
    overflow: visible;
    @include tablet {
      max-height: 0px !important;
      ul {
        margin-top: 100px;
      }
    }
    @include before-desktop {
      padding: 0;
      max-height: 100%;
    }
  }

  .ExpandableContent-Button {
    display: none;
  }

  .Hidden {
    display: none;
  }

  .Active {
    display: block;
    width: 100%;
  }

  .Cross-button {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .TermsAndPrivacy {
    width: 100%;
    position: fixed;
    bottom: 83px;
    background-color: #ffffff;
  }

  .MyAccountTabListItem-Button {
    width: 100%;
  }
}
