.HeaderCart {
    &-Button {
        content: "";
        background: url(./icons/basket.svg) no-repeat;
        background-size: 27px;
        width: 27px;
        height: 27px;
        display: inline-block;
        position: relative;
        top: -4px;
    }
}
