:root {
  --overlay-black-color: rgba(0, 0, 0, 0.7);
}
.VuePLP {
  &-VuePLPContainer {
    .PLPPage {
      display: unset !important;
      ul {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 19.7px 28.6px;
        @include mobile() {
          grid-template-columns: repeat(2,1fr);
          margin: 0;
          grid-gap: 29px 4px;
          padding-bottom: 60px;
        }
      }
      .ProductItem {
        &-ImageBox {
            padding-top: unset!important;
            margin-bottom: 6px;
            @include mobile {
                margin-bottom: 12px;
            }
            .Image {
                position: unset!important;
                top: unset!important;
                left: unset!important;
                padding-bottom: unset!important;
            }
        }
        .PLPSummary-Colors {
            background-color: #ffffff;
            opacity: 0.8;
            width: 100%;
            position: absolute;
            bottom: 0;
            padding: 4px 0px;
        }
        .PLPSummary-Exclusive {
            background-color: #ffffff;
            opacity: 0.8;
            width: 100%;
            position: absolute;
            bottom: 0;
            padding: 4px 0px;
            @include mobile {
                font-size: 12px;
                z-index: 1;
            }
        }
      }
    }
        .VueProductSlider{
            &-VueProductContainer{
                height: auto;
                position: relative;
                margin-right: 0px;
                display: inline-block;
                vertical-align: top;
                overflow-y: hidden;
                @include mobile{
                  width: 168px ;
                  min-height: 273px;
                }
            }
    }
    .Products-Wrapper {
      @include desktop() {
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 17px;
      }
    }
  }
}
