.DynamicContentRichContentBanner {
  max-width: 1396px;
  .SliderWithLabelWrapper {
    display: flex;
  }
  &-Label {
    display: flex;
    position: absolute;
    bottom: 15rem;
    right: 70%;
    text-transform: uppercase;
    align-items: center;
    vertical-align: center;
  }

  .Slider {
    &-Crumbs {
      position: static;
    }

    &-Crumb {
      width: 9px;
      height: 9px;
      border: 1px solid $black;
      background: $white;

      &_isActive {
        width: 11px;
        height: 11px;
        border: 2px solid $white;
        box-shadow: 0 0 0 1px $black;
        background: $black;
      }
    }
  }

  .Image {
    &-Image {
      object-fit: cover;
    }
    img {
      // margin-left: 25px;
    }
  }
  .tns-outer {
    button[data-action="stop"] {
      display: none;
    }
    button[data-action="start"] {
      display: none;
    }
  }
  .tns-controls {
    position: initial;
    display: none;
    button:first-child {
      left: 0;
      position: absolute;
      font-size: 75px;
      font-weight: 500;
      color: #888;
      bottom: 5%;
      height: 100%;
      margin-left: 15px;
      &:hover {
        color: #000;
      }
    }
    button:last-child {
      right: 0;
      position: absolute;
      font-size: 75px;
      font-weight: 500;
      color: #888;
      bottom: 5%;
      height: 100%;
      margin-right: 15px;
      &:hover {
        color: #000;
      }
    }
  }
  .tns-ovh {
    // margin-right: 80px;
    // margin-left: 80px;
  }
  .tns-slider {
    margin: 0 auto;
  }
  .tns-outer {
    direction: ltr !important;
  }
  .tns-nav {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 25px;
    margin-bottom: 25px;
    button {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #bfbfbf;
      padding: 0;
    }
    &-active {
      background-color: #3d4447 !important;
    }
  }
  .Label {
    text-align: center;
    // width: 600px;
    // height: 120px;
    &-Title {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 0px;
      line-height: 25px;
      margin-top: 15px;
      letter-spacing: 2px;
    }
    &-SubTitle {
      font-size: 16px;
      //   color: white;
      font-weight: 400;
      line-height: 22px;
      margin-top: 3px;
      margin-bottom: 5px;
    }
    &-Button {
      //   color: white;
      text-decoration: underline;
      font-size: 16px;
      line-height: 22px;
      font-weight: 500;
    }
  }
  .Tag {
    position: absolute;
    font-size: 18px;
    &-TopRight {
      top: 10%;
      right: 5%;
      color: white;
    }
    &-TopCenter {
      top: 10%;
      color: white;
    }
    &-TopLeft {
      top: 10%;
      left: 5%;
      color: white;
    }
    &-BottomRight {
      bottom: 10%;
      right: 5%;
      color: white;
    }
    &-BottomLeft {
      bottom: 10%;
      left: 5%;
      color: white;
    }
    &-BottomCenter {
      bottom: 10%;
      color: white;
    }
  }

  .Title {
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 30px;
  }

  @include mobile {
    max-height: 700px;
    overflow: none;

    &-Label {
      right: 2rem;
      bottom: 2rem;
      text-decoration: underline;
      background: none !important;
    }

    .Slider {
      &-Wrapper {
        width: 80%;
        margin: 10px;
      }

      &-Crumbs {
        display: none;
      }
    }
  }
}

@media (max-width: 760px) {
  .DynamicContentRichContentBanner {
    width: 100%;
    .tns-controls {
      display: none;
    }
    .Image {
      margin-top: 12px;
      &-Image {
        object-fit: cover;
      }
      img {
        // margin-left: 30px;
      }
    }
    .tns-ovh {
      margin: 0;
    }
    .CircleSliderLabel {
      margin-top: 4px;
      font-size: 12px;
    }
    .tns-nav {
      gap: 6px;
      margin-top: 8px;
      margin-bottom: 25px;
      button {
        width: 5px;
        height: 5px;
      }
    }
    .Label {
      height: 30%;
      width: 100%;
      &-Title {
        font-size: 18px;
        line-height: 1;
        margin-top: 15px;
      }
      &-SubTitle {
        font-size: 12px;
        margin-top: 3px;
        margin-bottom: 12px;
      }
      &-Button {
        font-size: 13px;
      }
    }
    .Tag {
      font-size: 14px;
      &-TopRight {
        top: 25px;
        right: 15px;
      }
      &-TopCenter {
        top: 25px;
      }
      &-TopLeft {
        top: 25px;
        left: 15px;
      }
      &-BottomRight {
        bottom: 25px;
        right: 15px;
      }
      &-BottomLeft {
        bottom: 25px;
        left: 15px;
      }
      &-BottomCenter {
        bottom: 25px;
      }
    }
  }
}
