.DynamicContentRichContentBanner {
    // max-height: 500px;
    // overflow: hidden;
    .SliderWithLabelWrapper{
        display: flex;
        .CircleSlider{

        }
    }
    &-Label {
        display: flex;
        position: absolute;
        bottom: 15rem;
        right: 70%;
        text-transform: uppercase;
        align-items: center;
        vertical-align: center;
    }

    .Slider {
        &-Crumbs {
            position: static;
        }

        &-Crumb {
            width: 9px;
            height: 9px;
            border: 1px solid $black;
            background: $white;

            &_isActive {
                width: 11px;
                height: 11px;
                border: 2px solid $white;
                box-shadow: 0 0 0 1px $black;
                background: $black;
            }
        }
    }

    .Image {

        &-Image {
            object-fit: cover;
            position: inherit;
        }
        img{
            // margin-left: 25px;
        }
    }
    .tns-controls {
        display: flex;
        justify-content: space-between;
        top: 85px;
        button {
            font-size: 38px;
            font-weight: 400;
            color: #515151;
        }
    }
    .tns-ovh{
        margin-right: 40px;
        margin-left: 40px;
    }
    .tns-slider{
        margin: 0 auto;
    }
    .tns-nav{
        display: flex;
        justify-content: center;
        gap: 6px;
        margin-top: 8px;
        margin-bottom: 25px;
        button{
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #BFBFBF;
            padding: 0;
        }
        &-active {
            background-color: #3D4447 !important;
        }
    }
    .Label{
        position: absolute;
        bottom: 0%;
        text-align: center;
        width: 100%;
        background-image: linear-gradient(to top, #616161 , transparent);
        height: 30%;
        &-Title{
            font-size: 18px;
            color: white;
            font-weight: 600;
            margin-bottom: 0px;
            line-height: 1;
            margin-top: 15px;
        }
        &-SubTitle{
            font-size: 12px;
            color: white;
            line-height: 1;
            margin-top: 3px;
            margin-bottom: 12px;
        }
        &-Button{
            color: white;
            text-decoration: underline;
            font-size: 13px;
        }
    }
    .Tag{
        position: absolute;
        &-TopRight{
            top: 25px;
            right: 15px;
            color: white;
        }
        &-TopCenter{
            top: 25px;
            color: white;
        }
        &-TopLeft{
            top: 25px;
            left: 15px;
            color: white;
        }
        &-BottomRight{
            bottom: 25px;
            right: 15px;
            color: white;
        }
        &-BottomLeft{
            bottom: 25px;
            left: 15px;
            color: white;
        }
        &-BottomCenter{
            bottom: 25px;
            color: white;
        }
    }

    .Title{
        font-size: 15px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 0px;
        margin-top: 30px;
    }



    @include mobile {
        max-height: 700px;
        overflow: none;

        &-Label {
            right: 2rem;
            bottom: 2rem;
            text-decoration: underline;
            background: none !important;
        }

        .Slider {
            &-Wrapper {
                width: 80%;
                margin: 10px;
            }

            &-Crumbs {
                display: none;
            }
        }
    }
}


@media  (max-width: 760px) {
    .DynamicContentRichContentBanner {
        .tns-controls {
            display: none
        }
        .Image {
            margin-top: 12px;
            &-Image {
                object-fit: cover;
            }
            img{
                // margin-left: 30px;
            }
        }
        .tns-ovh{
            margin: 0;
        }
        .CircleSliderLabel{
            margin-top: 4px;
            font-size: 12px;
        }
    }
  }

