.DynamicContentRichContentBanner {
    // max-height: 500px;
    // overflow: hidden;
    max-width: 1440px;
    .SliderWithLabelWrapper{
        display: flex;
        .CircleSlider{

        }
    }
    &-Label {
        display: flex;
        position: absolute;
        bottom: 15rem;
        right: 70%;
        text-transform: uppercase;
        align-items: center;
        vertical-align: center;
    }

    .Slider {
        &-Crumbs {
            position: static;
        }

        &-Crumb {
            width: 9px;
            height: 9px;
            border: 1px solid $black;
            background: $white;

            &_isActive {
                width: 11px;
                height: 11px;
                border: 2px solid $white;
                box-shadow: 0 0 0 1px $black;
                background: $black;
            }
        }
    }

    .Image {

        &-Image {
            object-fit: cover;
            position: inherit;
        }
        img{
            // margin-left: 25px;
        }
    }
    .tns-outer {
        button[data-action="stop"]{
            display: none;
        }
        button[data-action="start"]{
            display: none;
        }
    }
    .tns-controls {
        position: initial;
        button:first-child {
            left: 0;
            position: absolute;
            font-size: 26px;
            font-weight: 500;
            color: #888;
            top: 40%;
            &:hover{
                color: #000
            }
        }
        button:last-child {
            right: 0;
            position: absolute;
            font-size: 26px;
            font-weight: 500;
            color: #888;
            top: 40%;
            &:hover{
                color: #000
            }
        }
    }
    .tns-ovh{
        margin-right: 40px;
        margin-left: 40px;
    }
    .tns-slider{
        margin: 0 auto;
    }
    .tns-nav{
        display: flex;
        justify-content: center;
        gap: 12px;
        margin-top: 25px;
        margin-bottom: 25px;
        button{
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #BFBFBF;
            padding: 0;
        }
        &-active {
            background-color: #3D4447 !important;
        }
    }
    .Label{
        position: absolute;
        bottom: 0%;
        text-align: center;
        width: 100%;
        background-image: linear-gradient(to top, #616161 , transparent);
        height: 35%;
        &-Title{
            font-size: 30px;
            color: white;
            font-weight: 600;
            margin-bottom: 0px;
            line-height: 1.3;
            margin-top: 15px;
        }
        &-SubTitle{
            font-size: 20px;
            color: white;
            line-height: 1;
            margin-top: 3px;
            margin-bottom: 12px;
        }
        &-Button{
            color: white;
            text-decoration: underline;
            font-size: 30px;
        }
    }
    .Tag{
        position: absolute;
        font-size: 25px;
        &-TopRight{
            top: 70px;
            right: 40px;
            color: white;
        }
        &-TopCenter{
            top: 70px;
            color: white;
        }
        &-TopLeft{
            top: 70px;
            left: 40px;
            color: white;
        }
        &-BottomRight{
            bottom: 70px;
            right: 40px;
            color: white;
        }
        &-BottomLeft{
            bottom: 70px;
            left: 40px;
            color: white;
        }
        &-BottomCenter{
            bottom: 70px;
            color: white;
        }
    }

    .Title{
        font-size: 15px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 0px;
        margin-top: 30px;
    }



    @include mobile {
        max-height: 700px;
        overflow: none;

        &-Label {
            right: 2rem;
            bottom: 2rem;
            text-decoration: underline;
            background: none !important;
        }

        .Slider {
            &-Wrapper {
                width: 80%;
                margin: 10px;
            }

            &-Crumbs {
                display: none;
            }
        }
    }
}


@media  (max-width: 760px) {
    .DynamicContentRichContentBanner {
        .tns-controls {
            display: none
        }
        .Image {
            margin-top: 12px;
            &-Image {
                object-fit: cover;
            }
            img{
                // margin-left: 30px;
            }
        }
        .tns-ovh{
            margin: 0;
        }
        .CircleSliderLabel{
            margin-top: 4px;
            font-size: 12px;
        }
        .tns-nav{
            gap: 6px;
            margin-top: 8px;
            margin-bottom: 25px;
            button{
                width: 5px;
                height: 5px;
            }
        }
        .Label{
            height: 30%;
            &-Title{
                font-size: 18px;
                line-height: 1;
                margin-top: 15px;
            }
            &-SubTitle{
                font-size: 12px;
                margin-top: 3px;
                margin-bottom: 12px;
            }
            &-Button{
                font-size: 13px;
            }
        }
        .Tag{
            font-size: 14px;
            &-TopRight{
                top: 25px;
                right: 15px;
            }
            &-TopCenter{
                top: 25px;
            }
            &-TopLeft{
                top: 25px;
                left: 15px;
            }
            &-BottomRight{
                bottom: 25px;
                right: 15px;
            }
            &-BottomLeft{
                bottom: 25px;
                left: 15px;
            }
            &-BottomCenter{
                bottom: 25px;
            }
        }
    }
  }

