.TabbyPopup {
    @include before-desktop() {
        top: 0;
    }

    .Popup {
        &-Content {
            padding: 0;
            overflow: hidden;

            @include mobile() {
                iframe {
                    top: 50px;
                }
            }
        }
    }

    &-CloseButtonWrapper {
        background: $white;
        position: absolute;
        text-align: right;
        z-index: 10;
        width: 100%;

        img {
            width: 16px !important;
        }
    }
}