.DynamicContentTwiceBanner {
  &-Content {
    width: auto !important;
    background-color: white;
    text-align: center;
    margin: 0 auto !important;
    padding: 0;
    display: inline-flex;
    // @include tablet{
    //   padding-left: 30px;
    // }
  }
  &-Figure {
    @include desktop {
      // background:#f3f3f3;
      margin-top: 44px;
      margin-bottom: 41px;
    }
    @include tablet {
      // background:#f3f3f3;
      margin-top: 44px;
      margin-bottom: 41px;
    }
  }
  &-BannerImg {
    @include desktop {
      width: 50%;
      // left: 43px;
    }
    @include tablet {
      width: 50%;
      // left: 43px;
      margin-left: 30px;
    }
    .BannerImage {
      object-fit: cover;
      @include tablet {
        min-height: 475px;
        min-width: 408.91px;
      }
      @include desktop {
        min-height: 475px;
        min-width: 520px;
      }
    }
  }
  &-BannerImgRight {
    right : 20px;
    .BannerImage {
      object-fit: cover;
      @include tablet {
        min-height: 334px;
        min-width: 408.91px;
      }
      @include desktop {
        min-height: 459px;
        min-width: 520px;
      }
    }
  }
  &-FigureRight {
    @include desktop {
      // background: #f3f3f3;
      margin-top: 44px;
      margin-bottom: 41px;
      left: 20px;
      z-index: 3;
    }
    @include tablet {
      // background: #f3f3f3;
      margin-top: 44px;
      margin-bottom: 41px;
      left: 20px;
      z-index: 3;
    }
  }
  &-FigureRight {
    display: inline-flex;
    .TwiceBanner {
      align-items: center;
      background-color: #fafafa;
      @include tablet {
        min-height: 261.07px;
        min-width: 334.99px;
      }
      @include desktop {
        min-height: 376.6px;
        min-width: 426px;
      }
    }
    .TwiceBannerBlock {
      @include desktop {
        left: 25%;
        top: 40%;
        position: absolute;
      }
      @include tablet {
        left: 15%;
        top: 40%;
        position: absolute;
      }
    }
    .TwiceBannerBlockChild a {
      border-bottom: 1px solid;
      border-width: thin;
      height: 22px;
      // width: 102px;
      color: #000000;
      font-family: "Avenir Next";
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 22px;
      text-align: center;
    }
    .TwiceBannerBlockChild a button {
      padding: 0px !important;
      text-transform: capitalize;
    }
    .TwiceBannerBlockChildTitle {
      text-transform: uppercase;
      color: #000000;
      font-family: "Avenir Next";
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 2px;
      line-height: 25px;
      text-align: center;
      @include desktop {
        height: 25px; // 40px;
        // width: 426px;
      }
      @include tablet {
        // height: 40px;
        // width: 334.99px;
      }
    }
    .TwiceBannerBlockChildSub {
      height: 25px; // 22px;
      // width: 405.55px;
      color: #4a4a4a;
      font-family: "Avenir Next";
      font-size: 16px;
      letter-spacing: 0;
      line-height: 22px;
      text-align: center;
    }
  }
  &-Figure {
    .TwiceBanner {
      align-items: center;
      background-color: #fafafa;
      @include tablet {
        min-height: 388px;
        min-width: 334.99px;
      }
      @include desktop {
        min-height: 388px;
        min-width: 426px;
      }
    }
    .TwiceBannerBlock {
      @include desktop {
        left: 25%;
        top: 40%;
        position: absolute;
      }
      @include tablet {
        left: 15%;
        top: 40%;
        position: absolute;
      }
    }
    .TwiceBannerBlockChild a {
      border-bottom: 1px solid;
      border-width: thin;
      height: 22px;
      // width: 102px;
      color: #000000;
      font-family: "Avenir Next";
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 22px;
      text-align: center;
    }
    .TwiceBannerBlockChild a button {
      padding: 0px !important;
      text-transform: capitalize;
    }
    .TwiceBannerBlockChildTitle {
      text-transform: uppercase;
      color: #000000;
      font-family: "Avenir Next";
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 2px;
      line-height: 25px;
      text-align: center;
      @include desktop {
        height: 25px; // 40px;
        // width: 426px;
      }
      @include tablet {
        // height: 40px;
        // width: 334.99px;
      }
    }
    .TwiceBannerBlockChildSub {
      height: 25px; // 22px;
      // width: 405.55px;
      color: #4a4a4a;
      font-family: "Avenir Next";
      font-size: 16px;
      letter-spacing: 0;
      line-height: 22px;
      text-align: center;
    }
  }
}

.DynamicContentTwiceBanner-Content_isArabic {
  width: auto !important;
  .DynamicContentTwiceBanner-FigureRight{
    right : 40px !important;
  }
  .DynamicContentTwiceBanner-BannerImg{
    right: 30px !important;
    left: 0px !important;
    margin-left: 0px !important;
  }
  .DynamicContentTwiceBanner-BannerImgRight{
    right: 0px !important;
    padding-left: 40px;
  }
  .DynamicContentTwiceBanner-Figure{
    right: 20px;
  }
}